n8n/subagents/02-content-subagent-blog.json
{
  "name": "Content Subagent Blog",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-subagent-blog",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "content-subagent-blog-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT brand_voice, niche, tone, writing_style FROM user_ai_config WHERE user_id = '{{ $json.body.user_id }}' LIMIT 1",
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Fetch Brand Voice",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_POSTGRES_CRED_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT system_prompt FROM operator_prompts WHERE component = 'content_subagent_blog' LIMIT 1",
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Fetch System Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 300],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_POSTGRES_CRED_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "claude-sonnet-4-5",
          "max_tokens": 4000,
          "system": "={{ $('Fetch System Prompt').item.json.system_prompt }}",
          "messages": [
            {
              "role": "user",
              "content": "=Write a blog post with the following specifications:\n\nTopic: {{ $('Webhook').item.json.body.topic }}\nTarget Keyword: {{ $('Webhook').item.json.body.target_keyword }}\nWord Count: {{ $('Webhook').item.json.body.word_count }}\nTone: {{ $('Webhook').item.json.body.tone_override || $('Fetch Brand Voice').item.json.tone || 'professional' }}\nBrand Voice: {{ $('Fetch Brand Voice').item.json.brand_voice }}\nNiche: {{ $('Fetch Brand Voice').item.json.niche }}\nWriting Style: {{ $('Fetch Brand Voice').item.json.writing_style }}\n\nYou MUST respond with ONLY a valid JSON object — no markdown, no code fences, no explanation. Use this exact schema:\n{\n  \"title\": \"string\",\n  \"meta_description\": \"string (max 160 chars)\",\n  \"body_markdown\": \"string (full blog post in markdown)\",\n  \"suggested_tags\": [\"string\"],\n  \"readability_score\": number (1-10)\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_HEADER_AUTH_CRED_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\n\n// Extract text from Claude response\nlet contentText = '';\nif (raw.content && Array.isArray(raw.content)) {\n  contentText = raw.content\n    .filter(block => block.type === 'text')\n    .map(block => block.text)\n    .join('');\n} else {\n  throw new Error('Unexpected Claude response shape: ' + JSON.stringify(raw));\n}\n\n// Strip markdown fences if Claude wrapped JSON anyway\nconst cleaned = contentText\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```\\s*$/i, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Failed to parse Claude JSON: ' + e.message + '\\nRaw: ' + cleaned.substring(0, 300));\n}\n\n// Validate required keys\nconst required = ['title', 'meta_description', 'body_markdown', 'suggested_tags', 'readability_score'];\nfor (const key of required) {\n  if (!(key in parsed)) {\n    throw new Error(`Missing required key in Claude response: ${key}`);\n  }\n}\n\nreturn {\n  json: {\n    ...parsed,\n    user_id: $('Webhook').item.json.body.user_id,\n    topic: $('Webhook').item.json.body.topic,\n    target_keyword: $('Webhook').item.json.body.target_keyword\n  }\n};"
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO content_outputs (user_id, type, payload, created_at)\nVALUES (\n  '{{ $json.user_id }}',\n  'blog',\n  '{{ JSON.stringify({ title: $json.title, meta_description: $json.meta_description, body_markdown: $json.body_markdown, suggested_tags: $json.suggested_tags, readability_score: $json.readability_score, topic: $json.topic, target_keyword: $json.target_keyword }) }}'::jsonb,\n  NOW()\n)\nRETURNING id",
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Insert Content Output",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1440, 300],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_POSTGRES_CRED_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CREDIT_DEDUCTION_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "user_id": "={{ $('Webhook').item.json.body.user_id }}",
          "tool": "content_subagent_blog",
          "cost": 10
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Deduct Credits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"content_id\": \"{{ $('Insert Content Output').item.json.id }}\",\n  \"payload\": {\n    \"title\": \"{{ $('Parse Claude Response').item.json.title }}\",\n    \"meta_description\": \"{{ $('Parse Claude Response').item.json.meta_description }}\",\n    \"body_markdown\": {{ JSON.stringify($('Parse Claude Response').item.json.body_markdown) }},\n    \"suggested_tags\": {{ JSON.stringify($('Parse Claude Response').item.json.suggested_tags) }},\n    \"readability_score\": {{ $('Parse Claude Response').item.json.readability_score }}\n  }\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1920, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.message }}\",\n  \"stage\": \"workflow_error\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 520]
    },
    {
      "parameters": {
        "errorWorkflow": ""
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [960, 520]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Brand Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Brand Voice": {
      "main": [
        [
          {
            "node": "Fetch System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch System Prompt": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Insert Content Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Content Output": {
      "main": [
        [
          {
            "node": "Deduct Credits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduct Credits": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "nova-ops",
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-01-01T00:00:00.000Z"
    },
    {
      "name": "content-subagent",
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-01T00:00:00.000Z",
  "id": "nova-ops-content-subagent-blog-v1"
}
