n8n/subagents/03-social-subagent.json
{
  "name": "Social Subagent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-subagent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bb000001-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "social-subagent-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT brand_voice, niche, tone, writing_style FROM user_ai_config WHERE user_id = '{{ $json.body.user_id }}' LIMIT 1",
        "options": {}
      },
      "id": "bb000001-0002-4000-8000-000000000002",
      "name": "Fetch Brand Voice",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_POSTGRES_CRED_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT system_prompt FROM operator_prompts WHERE component = 'social_subagent' LIMIT 1",
        "options": {}
      },
      "id": "bb000001-0003-4000-8000-000000000003",
      "name": "Fetch System Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 300],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_POSTGRES_CRED_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build one item per platform, carrying all context forward\nconst webhookData = $('Webhook').item.json.body;\nconst brandVoice = $('Fetch Brand Voice').item.json;\nconst systemPrompt = $('Fetch System Prompt').item.json.system_prompt;\n\nconst platforms = Array.isArray(webhookData.platforms) ? webhookData.platforms : [webhookData.platforms];\n\nconst platformConstraints = {\n  linkedin:  { maxChars: 1300, format: 'professional long-form, can include line breaks and emojis, ideal for thought leadership' },\n  x:         { maxChars: 280,  format: 'punchy single idea, optional hashtags at end, no fluff' },\n  instagram: { maxChars: 2200, format: 'engaging storytelling with strong hook, heavy emoji use encouraged, hashtags at end' },\n  facebook:  { maxChars: 500,  format: 'conversational, community-friendly, question or CTA at end' }\n};\n\nreturn platforms.map(platform => {\n  const key = platform.toLowerCase();\n  const constraints = platformConstraints[key] || { maxChars: 500, format: 'general social media post' };\n  return {\n    json: {\n      platform: key,\n      maxChars: constraints.maxChars,\n      format: constraints.format,\n      topic: webhookData.topic,\n      tone: webhookData.tone,\n      include_hashtags: webhookData.include_hashtags,\n      user_id: webhookData.user_id,\n      brand_voice: brandVoice.brand_voice,\n      niche: brandVoice.niche,\n      writing_style: brandVoice.writing_style,\n      system_prompt: systemPrompt\n    }\n  };\n});"
      },
      "id": "bb000001-0004-4000-8000-000000000004",
      "name": "Split by Platform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "claude-sonnet-4-5",
          "max_tokens": 1000,
          "system": "={{ $json.system_prompt }}",
          "messages": [
            {
              "role": "user",
              "content": "=Create a {{ $json.platform }} post with the following specifications:\n\nPlatform: {{ $json.platform }}\nMax Characters: {{ $json.maxChars }}\nFormat Guide: {{ $json.format }}\nTopic: {{ $json.topic }}\nTone: {{ $json.tone }}\nBrand Voice: {{ $json.brand_voice }}\nNiche: {{ $json.niche }}\nWriting Style: {{ $json.writing_style }}\nInclude Hashtags: {{ $json.include_hashtags }}\n\nCRITICAL: post_text MUST be under {{ $json.maxChars }} characters.\nIf include_hashtags is false, return an empty array for hashtags.\n\nYou MUST respond with ONLY a valid JSON object — no markdown, no code fences, no preamble. Use this exact schema:\n{\n  \"post_text\": \"string\",\n  \"hashtags\": [\"string\"],\n  \"suggested_image_prompt\": \"string\"\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "bb000001-0005-4000-8000-000000000005",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_HEADER_AUTH_CRED_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst inputData = $('Split by Platform').item.json;\n\n// Extract text content from Claude response\nlet contentText = '';\nif (raw.content && Array.isArray(raw.content)) {\n  contentText = raw.content\n    .filter(block => block.type === 'text')\n    .map(block => block.text)\n    .join('');\n} else {\n  throw new Error('Unexpected Claude response shape: ' + JSON.stringify(raw));\n}\n\n// Strip markdown fences if present\nconst cleaned = contentText\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```\\s*$/i, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Failed to parse Claude JSON: ' + e.message + '\\nRaw: ' + cleaned.substring(0, 300));\n}\n\nconst required = ['post_text', 'hashtags', 'suggested_image_prompt'];\nfor (const key of required) {\n  if (!(key in parsed)) {\n    throw new Error(`Missing required key in Claude response: ${key}`);\n  }\n}\n\n// Enforce char limit — hard truncate as safety net\nif (parsed.post_text.length > inputData.maxChars) {\n  parsed.post_text = parsed.post_text.substring(0, inputData.maxChars - 3) + '...';\n}\n\nreturn {\n  json: {\n    platform: inputData.platform,\n    user_id: inputData.user_id,\n    post_text: parsed.post_text,\n    hashtags: parsed.hashtags,\n    suggested_image_prompt: parsed.suggested_image_prompt,\n    char_count: parsed.post_text.length\n  }\n};"
      },
      "id": "bb000001-0006-4000-8000-000000000006",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO content_outputs (user_id, type, payload, created_at)\nVALUES (\n  '{{ $json.user_id }}',\n  'social_{{ $json.platform }}',\n  '{{ JSON.stringify({ platform: $json.platform, post_text: $json.post_text, hashtags: $json.hashtags, suggested_image_prompt: $json.suggested_image_prompt, char_count: $json.char_count }) }}'::jsonb,\n  NOW()\n)\nRETURNING id",
        "options": {}
      },
      "id": "bb000001-0007-4000-8000-000000000007",
      "name": "Insert Content Output",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1680, 300],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_POSTGRES_CRED_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CREDIT_DEDUCTION_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "user_id": "={{ $('Parse Claude Response').item.json.user_id }}",
          "tool": "social_subagent",
          "cost": 5,
          "platform": "={{ $('Parse Claude Response').item.json.platform }}"
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "bb000001-0008-4000-8000-000000000008",
      "name": "Deduct Credits Per Platform",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 300]
    },
    {
      "parameters": {
        "jsCode": "// Collect all platform results and merge into a single response\nconst allItems = $input.all();\n\nconst posts = allItems.map(item => ({\n  platform: item.json['Parse Claude Response_platform'] || item.json.platform,\n  post_text: item.json['Parse Claude Response_post_text'] || item.json.post_text,\n  hashtags: item.json['Parse Claude Response_hashtags'] || item.json.hashtags,\n  suggested_image_prompt: item.json['Parse Claude Response_suggested_image_prompt'] || item.json.suggested_image_prompt,\n  char_count: item.json['Parse Claude Response_char_count'] || item.json.char_count,\n  content_id: item.json['Insert Content Output_id'] || item.json.id\n}));\n\nreturn [\n  {\n    json: {\n      success: true,\n      total_platforms: posts.length,\n      total_credits_used: posts.length * 5,\n      posts\n    }\n  }\n];"
      },
      "id": "bb000001-0009-4000-8000-000000000009",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "bb000001-0010-4000-8000-000000000010",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2400, 300]
    },
    {
      "parameters": {
        "errorWorkflow": ""
      },
      "id": "bb000001-0011-4000-8000-000000000011",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [960, 540]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.message }}\",\n  \"stage\": \"workflow_error\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "bb000001-0012-4000-8000-000000000012",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 540]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Brand Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Brand Voice": {
      "main": [
        [
          {
            "node": "Fetch System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch System Prompt": {
      "main": [
        [
          {
            "node": "Split by Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split by Platform": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Insert Content Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Content Output": {
      "main": [
        [
          {
            "node": "Deduct Credits Per Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduct Credits Per Platform": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "nova-ops",
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-01-01T00:00:00.000Z"
    },
    {
      "name": "social-subagent",
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-29T00:00:00.000Z",
  "id": "nova-ops-social-subagent-v1"
}
