n8n/subagents/04-sales-script-subagent.json
{
  "name": "Sales Script Subagent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sales-script-subagent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cc000001-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "sales-script-subagent-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT brand_voice, niche, icp, value_props, writing_style, company_name FROM user_ai_config WHERE user_id = '{{ $json.body.user_id }}' LIMIT 1",
        "options": {}
      },
      "id": "cc000001-0002-4000-8000-000000000002",
      "name": "Fetch Business Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_POSTGRES_CRED_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT system_prompt FROM operator_prompts WHERE component = 'sales_script_subagent' LIMIT 1",
        "options": {}
      },
      "id": "cc000001-0003-4000-8000-000000000003",
      "name": "Fetch System Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 300],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_POSTGRES_CRED_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build script-type-specific NEPQ instructions and field guidance\nconst scriptType = $('Webhook').item.json.body.script_type;\n\nconst scriptConfigs = {\n  discovery: {\n    nepq_focus: 'Problem Identification + Consequence Questions. Use NEPQ stages: Connecting Questions → Situation Questions → Problem Awareness Questions → Consequence Questions. Goal: make the prospect feel the pain of their current situation and see the cost of inaction.',\n    required_fields: 'script_title, opening (connecting statement), discovery_questions (array of 6-8 NEPQ-sequenced questions), objection_handlers (array of 2-3 early resistance handlers), close (next-step ask / permission to continue), followup_lines (array of 2 lines if they go cold)',\n    output_note: 'discovery_questions should escalate: start neutral, then dig into consequences. Each question should be max 1 sentence.'\n  },\n  objection_handler: {\n    nepq_focus: 'Objection Neutralization using NEPQ Reframing. For each objection: Acknowledge → Isolate → Reverse with a question. Never defend — always redirect with curiosity. Common objections: price, timing, need to think, need to talk to spouse/partner, already have a solution.',\n    required_fields: 'script_title, opening (pattern interrupt opener), discovery_questions (array of 2-3 clarifying questions to uncover real objection), objection_handlers (array of 5 fully scripted objection responses with setup + reframe question), close (re-ask after reframe), followup_lines (array of 2 lines for follow-through)',\n    output_note: 'Each objection_handler must include: objection_trigger, acknowledge_line, reframe_question.'\n  },\n  closing: {\n    nepq_focus: 'Commitment-Based Closing using NEPQ Solution Awareness + Consequence of Inaction. Do NOT pitch features. Close by referencing their own stated pain and desired outcome. Use assumptive and alternative closes layered with consequence questions.',\n    required_fields: 'script_title, opening (transition from discovery to close), discovery_questions (array of 2-3 confirmation questions to lock in their pain/desire), objection_handlers (array of 3 close-resistance handlers), close (3-step close sequence: consequence → solution bridge → commitment ask), followup_lines (array of 3 urgency-based follow-up lines)',\n    output_note: 'close field must contain a multi-step sequence, not a single line. Reference their stated goals.'\n  },\n  followup_voicemail: {\n    nepq_focus: 'Pattern-Interrupt Voicemail using NEPQ Curiosity Gap. The goal is a callback — not a pitch. Create intrigue by referencing their specific situation without revealing the solution. Keep it under 30 seconds when spoken aloud.',\n    required_fields: 'script_title, opening (first 2 sentences of voicemail — must create curiosity), discovery_questions (empty array — not applicable), objection_handlers (empty array — not applicable), close (the callback ask — one sentence), followup_lines (array of 3 voicemail variations: Day 2, Day 5, Day 10 follow-ups)',\n    output_note: 'opening must be under 40 words. followup_lines should escalate urgency across Day 2 / Day 5 / Day 10.'\n  }\n};\n\nconst config = scriptConfigs[scriptType] || scriptConfigs['discovery'];\n\nreturn [\n  {\n    json: {\n      ...config,\n      script_type: scriptType,\n      user_id: $('Webhook').item.json.body.user_id,\n      offer_name: $('Webhook').item.json.body.offer_name,\n      target_persona: $('Webhook').item.json.body.target_persona,\n      price_point: $('Webhook').item.json.body.price_point,\n      niche: $('Fetch Business Profile').item.json.niche,\n      icp: $('Fetch Business Profile').item.json.icp,\n      value_props: $('Fetch Business Profile').item.json.value_props,\n      brand_voice: $('Fetch Business Profile').item.json.brand_voice,\n      company_name: $('Fetch Business Profile').item.json.company_name,\n      system_prompt: $('Fetch System Prompt').item.json.system_prompt\n    }\n  }\n];"
      },
      "id": "cc000001-0004-4000-8000-000000000004",
      "name": "Build NEPQ Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "claude-sonnet-4-5",
          "max_tokens": 4000,
          "system": "={{ $json.system_prompt }}",
          "messages": [
            {
              "role": "user",
              "content": "=You are an elite sales script writer trained in NEPQ (Neuro-Emotional Persuasion Questioning) by Jeremy Miner. Your scripts never pitch — they pull. Every line is designed to make the prospect feel understood, see their own problem clearly, and self-qualify.\n\n---\n\nSCRIPT TYPE: {{ $json.script_type }}\n\nNEPQ FRAMEWORK FOCUS:\n{{ $json.nepq_focus }}\n\nBUSINESS CONTEXT:\n- Company: {{ $json.company_name }}\n- Niche: {{ $json.niche }}\n- Offer Name: {{ $json.offer_name }}\n- Price Point: {{ $json.price_point }}\n- Target Persona: {{ $json.target_persona }}\n- ICP (Ideal Customer Profile): {{ $json.icp }}\n- Value Propositions: {{ $json.value_props }}\n- Brand Voice: {{ $json.brand_voice }}\n\nOUTPUT REQUIREMENTS:\n{{ $json.required_fields }}\n\nADDITIONAL NOTES:\n{{ $json.output_note }}\n\n---\n\nYou MUST respond with ONLY a valid JSON object — no markdown, no code fences, no explanation. Use this exact schema:\n{\n  \"script_title\": \"string\",\n  \"opening\": \"string\",\n  \"discovery_questions\": [\"string\"],\n  \"objection_handlers\": [\"string or object\"],\n  \"close\": \"string\",\n  \"followup_lines\": [\"string\"]\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "cc000001-0005-4000-8000-000000000005",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_HEADER_AUTH_CRED_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst inputData = $('Build NEPQ Context').item.json;\n\n// Extract text from Claude response\nlet contentText = '';\nif (raw.content && Array.isArray(raw.content)) {\n  contentText = raw.content\n    .filter(block => block.type === 'text')\n    .map(block => block.text)\n    .join('');\n} else {\n  throw new Error('Unexpected Claude response shape: ' + JSON.stringify(raw));\n}\n\n// Strip markdown fences if Claude wrapped JSON anyway\nconst cleaned = contentText\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```\\s*$/i, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Failed to parse Claude JSON: ' + e.message + '\\nRaw: ' + cleaned.substring(0, 400));\n}\n\n// Validate required keys\nconst required = ['script_title', 'opening', 'discovery_questions', 'objection_handlers', 'close', 'followup_lines'];\nfor (const key of required) {\n  if (!(key in parsed)) {\n    throw new Error(`Missing required key in Claude response: ${key}`);\n  }\n}\n\n// Ensure arrays are arrays\nif (!Array.isArray(parsed.discovery_questions)) parsed.discovery_questions = [];\nif (!Array.isArray(parsed.objection_handlers)) parsed.objection_handlers = [];\nif (!Array.isArray(parsed.followup_lines)) parsed.followup_lines = [];\n\nreturn {\n  json: {\n    user_id: inputData.user_id,\n    script_type: inputData.script_type,\n    offer_name: inputData.offer_name,\n    target_persona: inputData.target_persona,\n    price_point: inputData.price_point,\n    script_title: parsed.script_title,\n    opening: parsed.opening,\n    discovery_questions: parsed.discovery_questions,\n    objection_handlers: parsed.objection_handlers,\n    close: parsed.close,\n    followup_lines: parsed.followup_lines\n  }\n};"
      },
      "id": "cc000001-0006-4000-8000-000000000006",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO content_outputs (user_id, type, payload, created_at)\nVALUES (\n  '{{ $json.user_id }}',\n  'sales_script_{{ $json.script_type }}',\n  '{{ JSON.stringify({ script_title: $json.script_title, offer_name: $json.offer_name, target_persona: $json.target_persona, price_point: $json.price_point, script_type: $json.script_type, opening: $json.opening, discovery_questions: $json.discovery_questions, objection_handlers: $json.objection_handlers, close: $json.close, followup_lines: $json.followup_lines }) }}'::jsonb,\n  NOW()\n)\nRETURNING id",
        "options": {}
      },
      "id": "cc000001-0007-4000-8000-000000000007",
      "name": "Insert Sales Script",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1680, 300],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_POSTGRES_CRED_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CREDIT_DEDUCTION_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "user_id": "={{ $('Parse Claude Response').item.json.user_id }}",
          "tool": "sales_script_subagent",
          "cost": 8,
          "script_type": "={{ $('Parse Claude Response').item.json.script_type }}"
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "cc000001-0008-4000-8000-000000000008",
      "name": "Deduct Credits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"script_id\": \"{{ $('Insert Sales Script').item.json.id }}\",\n  \"payload\": {\n    \"script_title\": {{ JSON.stringify($('Parse Claude Response').item.json.script_title) }},\n    \"script_type\": {{ JSON.stringify($('Parse Claude Response').item.json.script_type) }},\n    \"offer_name\": {{ JSON.stringify($('Parse Claude Response').item.json.offer_name) }},\n    \"target_persona\": {{ JSON.stringify($('Parse Claude Response').item.json.target_persona) }},\n    \"price_point\": {{ JSON.stringify($('Parse Claude Response').item.json.price_point) }},\n    \"opening\": {{ JSON.stringify($('Parse Claude Response').item.json.opening) }},\n    \"discovery_questions\": {{ JSON.stringify($('Parse Claude Response').item.json.discovery_questions) }},\n    \"objection_handlers\": {{ JSON.stringify($('Parse Claude Response').item.json.objection_handlers) }},\n    \"close\": {{ JSON.stringify($('Parse Claude Response').item.json.close) }},\n    \"followup_lines\": {{ JSON.stringify($('Parse Claude Response').item.json.followup_lines) }}\n  }\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "cc000001-0009-4000-8000-000000000009",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2160, 300]
    },
    {
      "parameters": {
        "errorWorkflow": ""
      },
      "id": "cc000001-0010-4000-8000-000000000010",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [960, 540]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.message }}\",\n  \"stage\": \"workflow_error\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "cc000001-0011-4000-8000-000000000011",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 540]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Business Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Business Profile": {
      "main": [
        [
          {
            "node": "Fetch System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch System Prompt": {
      "main": [
        [
          {
            "node": "Build NEPQ Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build NEPQ Context": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Insert Sales Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Sales Script": {
      "main": [
        [
          {
            "node": "Deduct Credits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduct Credits": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "nova-ops",
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-01-01T00:00:00.000Z"
    },
    {
      "name": "sales-subagent",
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-29T00:00:00.000Z",
  "id": "nova-ops-sales-script-subagent-v1"
}
