n8n/subagents/_credit-ledger-deduct.json
{
  "name": "Credit Ledger · Deduct",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "credit-ledger-deduct",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ce000001-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "credit-ledger-deduct-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst { user_id, tool, cost } = body;\n\nif (!user_id || !tool || typeof cost !== 'number') {\n  return [{ json: { _gate: 'BLOCK', status: 400, error: 'user_id, tool, cost (number) required' } }];\n}\n\nreturn [{\n  json: {\n    _gate: 'PASS',\n    user_id,\n    tool,\n    cost: Math.round(cost),\n    meta: body.meta || {}\n  }\n}];"
      },
      "id": "ce000001-0002-4000-8000-000000000002",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "block-check",
              "leftValue": "={{ $json._gate }}",
              "rightValue": "BLOCK",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ce000001-0003-4000-8000-000000000003",
      "name": "Is Blocked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error }) }}",
        "options": { "responseCode": "={{ $json.status || 400 }}" }
      },
      "id": "ce000001-0004-4000-8000-000000000004",
      "name": "Return Block",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 160]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO credit_ledger (user_id, tool, cost, meta) VALUES ('{{ $json.user_id }}', '{{ $json.tool }}', {{ $json.cost }}, '{{ JSON.stringify($json.meta).replace(/'/g, \"''\") }}'::jsonb) RETURNING id, user_id, tool, cost, created_at",
        "options": {}
      },
      "id": "ce000001-0005-4000-8000-000000000005",
      "name": "Insert Ledger Row",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [960, 420],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_POSTGRES_CRED_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT credits_remaining FROM user_credit_balance WHERE user_id = '{{ $('Insert Ledger Row').item.json.user_id }}' LIMIT 1",
        "options": {}
      },
      "id": "ce000001-0006-4000-8000-000000000006",
      "name": "Fetch Remaining",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 420],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_POSTGRES_CRED_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, ledger_id: $('Insert Ledger Row').item.json.id, tool: $('Insert Ledger Row').item.json.tool, cost: $('Insert Ledger Row').item.json.cost, credits_remaining: $json.credits_remaining }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "ce000001-0007-4000-8000-000000000007",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 420]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]] },
    "Validate Input": { "main": [[{ "node": "Is Blocked?", "type": "main", "index": 0 }]] },
    "Is Blocked?": {
      "main": [
        [{ "node": "Return Block", "type": "main", "index": 0 }],
        [{ "node": "Insert Ledger Row", "type": "main", "index": 0 }]
      ]
    },
    "Insert Ledger Row": { "main": [[{ "node": "Fetch Remaining", "type": "main", "index": 0 }]] },
    "Fetch Remaining": { "main": [[{ "node": "Return Success", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "nova-ops" },
    { "name": "credit-ledger" }
  ],
  "triggerCount": 1,
  "id": "nova-ops-credit-ledger-deduct-v1"
}
