N8N/nova_ops_user_suspended_payment_fail.json
{
  "name": "User Suspended Payment Fail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nova-ops-user-suspended",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f1000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "nova-ops-user-suspended"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst user_id = body.user_id || null;\nconst attempt_count = parseInt(body.attempt_count ?? 3, 10);\nconst reason = body.reason || 'payment_failed';\n\nif (!user_id) throw new Error('Missing required field: user_id');\n\nreturn [{\n  json: {\n    user_id,\n    attempt_count,\n    reason,\n    now: new Date().toISOString()\n  }\n}];"
      },
      "id": "f1000001-0002-0002-0002-000000000002",
      "name": "Parse & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/users?user_id=eq.{{ $json.user_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"plan_status\": \"suspended\",\n  \"access_blocked\": true,\n  \"suspended_at\": \"{{ $json.now }}\",\n  \"suspension_reason\": \"{{ $json.reason }}\",\n  \"updated_at\": \"{{ $json.now }}\"\n}",
        "options": {}
      },
      "id": "f1000001-0003-0003-0003-000000000003",
      "name": "PATCH users: suspend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_entitlements?user_id=eq.{{ $('Parse & Validate').first().json.user_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"launchpad_tool_1\": false,\n  \"launchpad_tool_2\": false,\n  \"launchpad_tool_3\": false,\n  \"launchpad_tool_4\": false,\n  \"launchpad_tool_5\": false,\n  \"launchpad_tool_6\": false,\n  \"launchpad_tool_7\": false,\n  \"launchpad_tool_8\": false,\n  \"launchpad_tool_9\": false,\n  \"launchpad_tool_10\": false,\n  \"nova_os_lead_capture\": false,\n  \"nova_os_followup\": false,\n  \"nova_os_booking\": false,\n  \"nova_os_nurture\": false,\n  \"nova_os_reporting\": false,\n  \"nova_os_sales\": false,\n  \"ai_operator_access\": false,\n  \"subagent_access\": false,\n  \"credits_gated\": true,\n  \"updated_at\": \"{{ $('Parse & Validate').first().json.now }}\"\n}",
        "options": {}
      },
      "id": "f1000001-0004-0004-0004-000000000004",
      "name": "PATCH user_entitlements: all false",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_credits?user_id=eq.{{ $('Parse & Validate').first().json.user_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"credits_gated\": true,\n  \"updated_at\": \"{{ $('Parse & Validate').first().json.now }}\"\n}",
        "options": {}
      },
      "id": "f1000001-0005-0005-0005-000000000005",
      "name": "PATCH user_credits: gate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 600]
    },
    {
      "parameters": {
        "jsCode": "// Collect all three parallel PATCH results and validate\nconst items = $input.all();\nconst origin = $('Parse & Validate').first().json;\n\n// All three branches flow here — check we got data\nconst allReceived = items.length > 0;\n\nreturn [{\n  json: {\n    user_id: origin.user_id,\n    reason: origin.reason,\n    attempt_count: origin.attempt_count,\n    now: origin.now,\n    patches_received: items.length,\n    all_patches_ok: allReceived\n  }\n}];"
      },
      "id": "f1000001-0006-0006-0006-000000000006",
      "name": "Merge & Validate Patches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/suspension_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"event_type\": \"suspended\",\n  \"reason\": \"{{ $json.reason }}\",\n  \"attempt_count\": {{ $json.attempt_count }},\n  \"created_at\": \"{{ $json.now }}\"\n}",
        "options": {}
      },
      "id": "f1000001-0007-0007-0007-000000000007",
      "name": "INSERT suspension_log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "log-check",
              "leftValue": "={{ $json[0]?.user_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "exists", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1000001-0008-0008-0008-000000000008",
      "name": "Validate Log Written",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1440, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"action\": \"user_suspended\",\n  \"user_id\": \"{{ $('Merge & Validate Patches').first().json.user_id }}\",\n  \"plan_status\": \"suspended\",\n  \"access_blocked\": true,\n  \"credits_gated\": true,\n  \"all_flags_revoked\": true,\n  \"suspended_at\": \"{{ $('Merge & Validate Patches').first().json.now }}\",\n  \"reason\": \"{{ $('Merge & Validate Patches').first().json.reason }}\"\n}",
        "options": { "responseCode": 200 }
      },
      "id": "f1000001-0009-0009-0009-000000000009",
      "name": "Return: Suspended",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1700, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"action\": \"suspension_log_failed\",\n  \"message\": \"User patches applied but suspension_log INSERT failed — check Supabase\",\n  \"user_id\": \"{{ $('Merge & Validate Patches').first().json.user_id }}\"\n}",
        "options": { "responseCode": 500 }
      },
      "id": "f1000001-0010-0010-0010-000000000010",
      "name": "Return: Log Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1700, 520]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Parse & Validate", "type": "main", "index": 0 }]
      ]
    },
    "Parse & Validate": {
      "main": [
        [
          { "node": "PATCH users: suspend",                "type": "main", "index": 0 },
          { "node": "PATCH user_entitlements: all false",  "type": "main", "index": 0 },
          { "node": "PATCH user_credits: gate",            "type": "main", "index": 0 }
        ]
      ]
    },
    "PATCH users: suspend": {
      "main": [
        [{ "node": "Merge & Validate Patches", "type": "main", "index": 0 }]
      ]
    },
    "PATCH user_entitlements: all false": {
      "main": [
        [{ "node": "Merge & Validate Patches", "type": "main", "index": 0 }]
      ]
    },
    "PATCH user_credits: gate": {
      "main": [
        [{ "node": "Merge & Validate Patches", "type": "main", "index": 0 }]
      ]
    },
    "Merge & Validate Patches": {
      "main": [
        [{ "node": "INSERT suspension_log", "type": "main", "index": 0 }]
      ]
    },
    "INSERT suspension_log": {
      "main": [
        [{ "node": "Validate Log Written", "type": "main", "index": 0 }]
      ]
    },
    "Validate Log Written": {
      "main": [
        [{ "node": "Return: Suspended",  "type": "main", "index": 0 }],
        [{ "node": "Return: Log Error",  "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "name": "nova-ops" },
    { "name": "billing" },
    { "name": "suspension" }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-28T00:00:00.000Z",
  "versionId": "nova-ops-v1"
}
