N8N/nova_ops_credit_balance_init_replenish.json
{
  "name": "Credit Balance Init and Replenish",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nova-ops-credit-balance",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "nova-ops-credit-balance"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst user_id = body.user_id || null;\nconst plan_tier = (body.plan_tier || 'free').toLowerCase().trim();\nconst trigger_type = (body.trigger_type || 'init').toLowerCase().trim();\n\nif (!user_id) throw new Error('Missing required field: user_id');\n\nconst validTiers = ['free', 'starter', 'pro', 'scale'];\nconst validTriggers = ['init', 'renewal'];\n\nconst resolvedTier = validTiers.includes(plan_tier) ? plan_tier : 'free';\nconst resolvedTrigger = validTriggers.includes(trigger_type) ? trigger_type : 'init';\n\nreturn [{\n  json: {\n    user_id,\n    plan_tier: resolvedTier,\n    trigger_type: resolvedTrigger,\n    now: new Date().toISOString()\n  }\n}];"
      },
      "id": "c1000001-0002-0002-0002-000000000002",
      "name": "Parse & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.plan_tier }}",
                    "rightValue": "free",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "free"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.plan_tier }}",
                    "rightValue": "starter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "starter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.plan_tier }}",
                    "rightValue": "pro",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pro"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.plan_tier }}",
                    "rightValue": "scale",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "scale"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "c1000001-0003-0003-0003-000000000003",
      "name": "Switch: Plan Tier",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        720,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{ json: { ...input, credit_amount: 10 } }];"
      },
      "id": "c1000001-0004-0004-0004-000000000004",
      "name": "Credits: Free (10)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{ json: { ...input, credit_amount: 100 } }];"
      },
      "id": "c1000001-0005-0005-0005-000000000005",
      "name": "Credits: Starter (100)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{ json: { ...input, credit_amount: 500 } }];"
      },
      "id": "c1000001-0006-0006-0006-000000000006",
      "name": "Credits: Pro (500)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{ json: { ...input, credit_amount: 9999 } }];"
      },
      "id": "c1000001-0007-0007-0007-000000000007",
      "name": "Credits: Scale (9999)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items || items.length === 0) throw new Error('No credit amount resolved from Switch');\nreturn [items[0]];"
      },
      "id": "c1000001-0008-0008-0008-000000000008",
      "name": "Merge Credit Branches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.trigger_type }}",
                    "rightValue": "init",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "init"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.trigger_type }}",
                    "rightValue": "renewal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "renewal"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "c1000001-0009-0009-0009-000000000009",
      "name": "Switch: Trigger Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        1440,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_credits",
        "authentication": "predefinedCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"balance\": {{ $json.credit_amount }},\n  \"lifetime_granted\": {{ $json.credit_amount }},\n  \"last_replenished\": \"{{ $json.now }}\",\n  \"plan_tier\": \"{{ $json.plan_tier }}\",\n  \"created_at\": \"{{ $json.now }}\"\n}",
        "options": {},
        "nodeCredentialType": "supabaseApi"
      },
      "id": "c1000001-0010-0010-0010-000000000010",
      "name": "INSERT user_credits (init)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        260
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xbPYfxBm7UismiBl",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_credits?user_id=eq.{{ $json.user_id }}&select=lifetime_granted",
        "authentication": "predefinedCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "nodeCredentialType": "supabaseApi"
      },
      "id": "c1000001-0011-0011-0011-000000000011",
      "name": "GET current lifetime_granted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        540
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xbPYfxBm7UismiBl",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge renewal context with fetched lifetime_granted\nconst mergeNode = $('Merge Credit Branches').first().json;\nconst fetchResult = $input.first().json;\n\nconst currentLifetime = fetchResult[0]?.lifetime_granted || 0;\nconst newLifetime = currentLifetime + mergeNode.credit_amount;\n\nreturn [{\n  json: {\n    user_id: mergeNode.user_id,\n    plan_tier: mergeNode.plan_tier,\n    trigger_type: mergeNode.trigger_type,\n    now: mergeNode.now,\n    credit_amount: mergeNode.credit_amount,\n    new_lifetime_granted: newLifetime\n  }\n}];"
      },
      "id": "c1000001-0012-0012-0012-000000000012",
      "name": "Calc New Lifetime",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        540
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_credits?user_id=eq.{{ $json.user_id }}",
        "authentication": "predefinedCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"balance\": {{ $json.credit_amount }},\n  \"lifetime_granted\": {{ $json.new_lifetime_granted }},\n  \"last_replenished\": \"{{ $json.now }}\",\n  \"plan_tier\": \"{{ $json.plan_tier }}\"\n}",
        "options": {},
        "nodeCredentialType": "supabaseApi"
      },
      "id": "c1000001-0013-0013-0013-000000000013",
      "name": "PATCH user_credits (renewal)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        540
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xbPYfxBm7UismiBl",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalise both init and renewal outputs into a single shape for the event log\nconst items = $input.all();\nif (!items || items.length === 0) throw new Error('No data flowing into event log merge');\nconst d = items[0].json;\n\n// init branch returns array from Supabase; renewal branch returns array from PATCH\nconst record = Array.isArray(d) ? d[0] : d;\n\n// Pull originals from Merge Credit Branches node (always in context)\nconst origin = $('Merge Credit Branches').first().json;\n\nreturn [{\n  json: {\n    user_id: record.user_id || origin.user_id,\n    plan_tier: record.plan_tier || origin.plan_tier,\n    trigger_type: origin.trigger_type,\n    credit_amount: origin.credit_amount,\n    now: origin.now\n  }\n}];"
      },
      "id": "c1000001-0014-0014-0014-000000000014",
      "name": "Merge for Event Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/credit_events",
        "authentication": "predefinedCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"event_type\": \"{{ $json.trigger_type }}\",\n  \"plan_tier\": \"{{ $json.plan_tier }}\",\n  \"credits_granted\": {{ $json.credit_amount }},\n  \"created_at\": \"{{ $json.now }}\"\n}",
        "options": {},
        "nodeCredentialType": "supabaseApi"
      },
      "id": "c1000001-0015-0015-0015-000000000015",
      "name": "INSERT credit_events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xbPYfxBm7UismiBl",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-event-log",
              "leftValue": "={{ $json[0]?.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1000001-0016-0016-0016-000000000016",
      "name": "Validate Event Log",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2900,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Credit balance {{ $('Merge for Event Log').first().json.trigger_type === 'init' ? 'initialised' : 'replenished' }} successfully\",\n  \"data\": {\n    \"user_id\": \"{{ $('Merge for Event Log').first().json.user_id }}\",\n    \"plan_tier\": \"{{ $('Merge for Event Log').first().json.plan_tier }}\",\n    \"trigger_type\": \"{{ $('Merge for Event Log').first().json.trigger_type }}\",\n    \"credits_granted\": {{ $('Merge for Event Log').first().json.credit_amount }},\n    \"timestamp\": \"{{ $('Merge for Event Log').first().json.now }}\"\n  }\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c1000001-0017-0017-0017-000000000017",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3140,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Credit event log write failed \u2014 check Supabase logs\",\n  \"user_id\": \"{{ $('Merge for Event Log').first().json.user_id }}\",\n  \"plan_tier\": \"{{ $('Merge for Event Log').first().json.plan_tier }}\",\n  \"trigger_type\": \"{{ $('Merge for Event Log').first().json.trigger_type }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "c1000001-0018-0018-0018-000000000018",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3140,
        520
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse & Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate": {
      "main": [
        [
          {
            "node": "Switch: Plan Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Plan Tier": {
      "main": [
        [
          {
            "node": "Credits: Free (10)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Credits: Starter (100)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Credits: Pro (500)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Credits: Scale (9999)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credits: Free (10)": {
      "main": [
        [
          {
            "node": "Merge Credit Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credits: Starter (100)": {
      "main": [
        [
          {
            "node": "Merge Credit Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credits: Pro (500)": {
      "main": [
        [
          {
            "node": "Merge Credit Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credits: Scale (9999)": {
      "main": [
        [
          {
            "node": "Merge Credit Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Credit Branches": {
      "main": [
        [
          {
            "node": "Switch: Trigger Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Trigger Type": {
      "main": [
        [
          {
            "node": "INSERT user_credits (init)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET current lifetime_granted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT user_credits (init)": {
      "main": [
        [
          {
            "node": "Merge for Event Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET current lifetime_granted": {
      "main": [
        [
          {
            "node": "Calc New Lifetime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc New Lifetime": {
      "main": [
        [
          {
            "node": "PATCH user_credits (renewal)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH user_credits (renewal)": {
      "main": [
        [
          {
            "node": "Merge for Event Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge for Event Log": {
      "main": [
        [
          {
            "node": "INSERT credit_events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT credit_events": {
      "main": [
        [
          {
            "node": "Validate Event Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Event Log": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "nova-ops"
    },
    {
      "name": "credits"
    },
    {
      "name": "billing"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-28T00:00:00.000Z",
  "versionId": "nova-ops-v1"
}