N8N/nova_ops_credit_exhausted_upsell.json
{
  "name": "Credit Exhausted Gating and Upsell Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nova-ops-credit-exhausted",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e1000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "nova-ops-credit-exhausted"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst user_id = body.user_id || null;\nconst email = body.email || null;\nconst plan_tier = (body.plan_tier || 'free').toLowerCase().trim();\nconst current_balance = parseInt(body.current_balance ?? 0, 10);\n\nif (!user_id) throw new Error('Missing required field: user_id');\nif (!email) throw new Error('Missing required field: email');\n\nconst validTiers = ['free', 'starter', 'pro', 'scale'];\nconst resolvedTier = validTiers.includes(plan_tier) ? plan_tier : 'free';\n\n// Upgrade path map\nconst upgradeMap = {\n  free:    { next_tier: 'starter', next_credits: 100,  stripe_link: process.env.STRIPE_LINK_STARTER || 'https://nova-ops.space/upgrade/starter' },\n  starter: { next_tier: 'pro',     next_credits: 500,  stripe_link: process.env.STRIPE_LINK_PRO     || 'https://nova-ops.space/upgrade/pro' },\n  pro:     { next_tier: 'scale',   next_credits: 9999, stripe_link: process.env.STRIPE_LINK_SCALE   || 'https://nova-ops.space/upgrade/scale' },\n  scale:   { next_tier: null,      next_credits: null, stripe_link: null }\n};\n\nconst upgrade = upgradeMap[resolvedTier];\nconst is_scale = resolvedTier === 'scale';\n\nconst planLabels = {\n  free: 'Free',\n  starter: 'Starter ($49/mo)',\n  pro: 'Pro ($149/mo)',\n  scale: 'Scale ($299/mo)'\n};\n\nreturn [{\n  json: {\n    user_id,\n    email,\n    plan_tier: resolvedTier,\n    plan_label: planLabels[resolvedTier],\n    current_balance,\n    is_scale,\n    next_tier: upgrade.next_tier,\n    next_credits: upgrade.next_credits,\n    stripe_link: upgrade.stripe_link,\n    now: new Date().toISOString()\n  }\n}];"
      },
      "id": "e1000001-0002-0002-0002-000000000002",
      "name": "Parse & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_entitlements?user_id=eq.{{ $json.user_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"credits_gated\": true,\n  \"updated_at\": \"{{ $json.now }}\"\n}",
        "options": {}
      },
      "id": "e1000001-0003-0003-0003-000000000003",
      "name": "PATCH: Set credits_gated=true",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "scale-check",
              "leftValue": "={{ $('Parse & Validate').first().json.is_scale }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e1000001-0004-0004-0004-000000000004",
      "name": "Is Scale Tier?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "jsCode": "// Scale users should never hit zero — log anomaly and exit\nconst origin = $('Parse & Validate').first().json;\nconsole.warn(`ANOMALY: Scale user ${origin.user_id} triggered credit exhaustion gate. Balance: ${origin.current_balance}`);\nreturn [{\n  json: {\n    ...origin,\n    anomaly: true,\n    message: 'Scale tier user hit credit exhaustion — investigate billing or credit deduction logic'\n  }\n}];"
      },
      "id": "e1000001-0005-0005-0005-000000000005",
      "name": "Log Scale Anomaly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"action\": \"scale_anomaly_logged\",\n  \"message\": \"Scale user flagged — no upsell sent\",\n  \"user_id\": \"{{ $json.user_id }}\"\n}",
        "options": { "responseCode": 200 }
      },
      "id": "e1000001-0006-0006-0006-000000000006",
      "name": "Return: Scale Anomaly",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 220]
    },
    {
      "parameters": {
        "jsCode": "// Build the upsell email body for non-scale users\nconst origin = $('Parse & Validate').first().json;\n\nconst nextTierLabels = {\n  starter: 'Starter — $49/mo',\n  pro:     'Pro — $149/mo',\n  scale:   'Scale — $299/mo'\n};\n\nconst currentCredits = {\n  free:    10,\n  starter: 100,\n  pro:     500\n};\n\nconst emailHtml = `\n<div style=\"font-family: sans-serif; max-width: 560px; margin: 0 auto; color: #1a1a1a;\">\n  <h2 style=\"color: #0f172a;\">You've run out of Nova OPS credits</h2>\n  <p>Hey there,</p>\n  <p>Your <strong>${origin.plan_label}</strong> plan includes <strong>${currentCredits[origin.plan_tier] || 0} credits/month</strong> — and you've used them all.</p>\n  <p>Your tools are paused until you upgrade or your credits renew next cycle.</p>\n  <hr style=\"border: none; border-top: 1px solid #e2e8f0; margin: 24px 0;\" />\n  <h3 style=\"margin-bottom: 4px;\">Upgrade to ${nextTierLabels[origin.next_tier]}</h3>\n  <p style=\"margin-top: 4px;\">Get <strong>${origin.next_credits === 9999 ? 'unlimited' : origin.next_credits} credits</strong> per month — plus all the features of the next tier unlocked immediately.</p>\n  <a href=\"${origin.stripe_link}\" style=\"display: inline-block; margin-top: 16px; padding: 12px 28px; background: #6366f1; color: white; border-radius: 8px; text-decoration: none; font-weight: 600;\">Upgrade Now →</a>\n  <hr style=\"border: none; border-top: 1px solid #e2e8f0; margin: 32px 0;\" />\n  <p style=\"font-size: 13px; color: #64748b;\">Questions? Reply to this email or reach us at support@nova-ops.space</p>\n  <p style=\"font-size: 12px; color: #94a3b8;\">Nova OPS · Tampa, FL · <a href=\"https://nova-ops.space\" style=\"color: #94a3b8;\">nova-ops.space</a></p>\n</div>\n`.trim();\n\nconst emailText = `You've used all your Nova OPS credits on your ${origin.plan_label} plan (${currentCredits[origin.plan_tier] || 0} credits/month).\\n\\nUpgrade to ${nextTierLabels[origin.next_tier]} for ${origin.next_credits === 9999 ? 'unlimited' : origin.next_credits} credits per month.\\n\\nUpgrade here: ${origin.stripe_link}\\n\\nQuestions? support@nova-ops.space`;\n\nreturn [{\n  json: {\n    ...origin,\n    email_subject: \"You've used all your Nova OPS credits — upgrade for more\",\n    email_html: emailHtml,\n    email_text: emailText\n  }\n}];"
      },
      "id": "e1000001-0007-0007-0007-000000000007",
      "name": "Build Upsell Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 580]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Nova OPS <noreply@nova-ops.space>\",\n  \"to\": [\"{{ $json.email }}\"],\n  \"subject\": \"{{ $json.email_subject }}\",\n  \"html\": {{ JSON.stringify($json.email_html) }},\n  \"text\": {{ JSON.stringify($json.email_text) }}\n}",
        "options": {}
      },
      "id": "e1000001-0008-0008-0008-000000000008",
      "name": "Send Upsell Email (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 580]
    },
    {
      "parameters": {
        "jsCode": "// Confirm email was accepted — Resend returns { id: 'email_xxx' } on success\nconst sendResult = $input.first().json;\nconst origin = $('Build Upsell Email').first().json;\n\nconst email_id = sendResult?.id || null;\nconst email_sent = !!email_id;\n\nif (!email_sent) {\n  console.warn(`Upsell email may have failed for user ${origin.user_id}. Resend response:`, JSON.stringify(sendResult));\n}\n\nreturn [{\n  json: {\n    user_id: origin.user_id,\n    email: origin.email,\n    plan_tier: origin.plan_tier,\n    next_tier: origin.next_tier,\n    current_balance: origin.current_balance,\n    email_sent,\n    email_id,\n    now: origin.now\n  }\n}];"
      },
      "id": "e1000001-0009-0009-0009-000000000009",
      "name": "Confirm Email Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 580]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/comms_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"comm_type\": \"upsell\",\n  \"trigger\": \"credit_exhausted\",\n  \"plan_tier\": \"{{ $json.plan_tier }}\",\n  \"next_tier\": \"{{ $json.next_tier }}\",\n  \"balance_at_trigger\": {{ $json.current_balance }},\n  \"email_sent\": {{ $json.email_sent }},\n  \"email_provider_id\": \"{{ $json.email_id }}\",\n  \"created_at\": \"{{ $json.now }}\"\n}",
        "options": {}
      },
      "id": "e1000001-0010-0010-0010-000000000010",
      "name": "INSERT comms_log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1940, 580]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"action\": \"gated_and_upsell_sent\",\n  \"user_id\": \"{{ $('Confirm Email Sent').first().json.user_id }}\",\n  \"credits_gated\": true,\n  \"email_sent\": {{ $('Confirm Email Sent').first().json.email_sent }},\n  \"upsell_target\": \"{{ $('Confirm Email Sent').first().json.next_tier }}\"\n}",
        "options": { "responseCode": 200 }
      },
      "id": "e1000001-0011-0011-0011-000000000011",
      "name": "Return: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2180, 580]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Parse & Validate", "type": "main", "index": 0 }]
      ]
    },
    "Parse & Validate": {
      "main": [
        [{ "node": "PATCH: Set credits_gated=true", "type": "main", "index": 0 }]
      ]
    },
    "PATCH: Set credits_gated=true": {
      "main": [
        [{ "node": "Is Scale Tier?", "type": "main", "index": 0 }]
      ]
    },
    "Is Scale Tier?": {
      "main": [
        [{ "node": "Log Scale Anomaly", "type": "main", "index": 0 }],
        [{ "node": "Build Upsell Email", "type": "main", "index": 0 }]
      ]
    },
    "Log Scale Anomaly": {
      "main": [
        [{ "node": "Return: Scale Anomaly", "type": "main", "index": 0 }]
      ]
    },
    "Build Upsell Email": {
      "main": [
        [{ "node": "Send Upsell Email (Resend)", "type": "main", "index": 0 }]
      ]
    },
    "Send Upsell Email (Resend)": {
      "main": [
        [{ "node": "Confirm Email Sent", "type": "main", "index": 0 }]
      ]
    },
    "Confirm Email Sent": {
      "main": [
        [{ "node": "INSERT comms_log", "type": "main", "index": 0 }]
      ]
    },
    "INSERT comms_log": {
      "main": [
        [{ "node": "Return: Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "name": "nova-ops" },
    { "name": "credits" },
    { "name": "upsell" },
    { "name": "comms" }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-28T00:00:00.000Z",
  "versionId": "nova-ops-v1"
}
