N8N/nova_ops_user_deleted_teardown.json
{
  "name": "User Deleted Teardown",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nova-ops-user-deleted",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "h1000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 500],
      "webhookId": "nova-ops-user-deleted"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst user_id            = body.user_id || null;\nconst email              = body.email || null;\nconst stripe_customer_id = body.stripe_customer_id || null;\nconst deleted_by         = (body.deleted_by || 'user').toLowerCase();\n\nif (!user_id) throw new Error('Missing required field: user_id');\nif (!email)   throw new Error('Missing required field: email');\n\nreturn [{\n  json: {\n    user_id,\n    email,\n    stripe_customer_id,\n    deleted_by,  // 'user' | 'admin'\n    now: new Date().toISOString()\n  }\n}];"
      },
      "id": "h1000001-0002-0002-0002-000000000002",
      "name": "Parse & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-stripe",
              "leftValue": "={{ $json.stripe_customer_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "h1000001-0003-0003-0003-000000000003",
      "name": "Has Stripe Customer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.stripe.com/v1/subscriptions?customer={{ $('Parse & Validate').first().json.stripe_customer_id }}&status=active&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.STRIPE_SECRET_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "h1000001-0004-0004-0004-000000000004",
      "name": "GET Stripe Subscription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 360]
    },
    {
      "parameters": {
        "jsCode": "const stripeResult = $input.first().json;\nconst origin = $('Parse & Validate').first().json;\n\nconst subscription_id = stripeResult?.data?.[0]?.id || null;\nconst has_subscription = !!subscription_id;\n\nreturn [{\n  json: {\n    ...origin,\n    subscription_id,\n    has_subscription\n  }\n}];"
      },
      "id": "h1000001-0005-0005-0005-000000000005",
      "name": "Extract Subscription ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 360]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-sub",
              "leftValue": "={{ $json.has_subscription }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "h1000001-0006-0006-0006-000000000006",
      "name": "Has Active Subscription?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1440, 360]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.stripe.com/v1/subscriptions/{{ $json.subscription_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",  "value": "=Bearer {{ $env.STRIPE_SECRET_KEY }}" },
            { "name": "Content-Type",   "value": "application/x-www-form-urlencoded" }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "invoice_now",  "value": "false" },
            { "name": "prorate",      "value": "false" }
          ]
        },
        "options": {}
      },
      "id": "h1000001-0007-0007-0007-000000000007",
      "name": "DELETE Stripe Subscription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 260]
    },
    {
      "parameters": {
        "jsCode": "// No active sub or no Stripe customer — pass through cleanly\nconst origin = $('Parse & Validate').first().json;\nreturn [{\n  json: {\n    ...origin,\n    subscription_id: null,\n    has_subscription: false,\n    stripe_cancelled: false,\n    stripe_skip_reason: 'no_active_subscription'\n  }\n}];"
      },
      "id": "h1000001-0008-0008-0008-000000000008",
      "name": "Skip: No Sub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 460]
    },
    {
      "parameters": {
        "jsCode": "// No Stripe customer at all — pass through cleanly\nconst origin = $('Parse & Validate').first().json;\nreturn [{\n  json: {\n    ...origin,\n    subscription_id: null,\n    has_subscription: false,\n    stripe_cancelled: false,\n    stripe_skip_reason: 'no_stripe_customer'\n  }\n}];"
      },
      "id": "h1000001-0009-0009-0009-000000000009",
      "name": "Skip: No Stripe Customer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 640]
    },
    {
      "parameters": {
        "jsCode": "// Normalise all three Stripe paths into one shape\nconst items = $input.all();\nif (!items || items.length === 0) throw new Error('No data from Stripe path');\n\nconst d = items[0].json;\nconst origin = $('Parse & Validate').first().json;\n\n// If from DELETE node, shape is Stripe sub object — extract id\nconst cancelled_id = d?.id || d?.subscription_id || null;\nconst stripe_cancelled = d?.status === 'canceled' || false;\n\nreturn [{\n  json: {\n    user_id: origin.user_id,\n    email: origin.email,\n    stripe_customer_id: origin.stripe_customer_id,\n    deleted_by: origin.deleted_by,\n    now: origin.now,\n    subscription_id: cancelled_id || d?.subscription_id || null,\n    stripe_cancelled,\n    stripe_skip_reason: d?.stripe_skip_reason || null\n  }\n}];"
      },
      "id": "h1000001-0010-0010-0010-000000000010",
      "name": "Merge Stripe Paths",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_profiles?user_id=eq.{{ $json.user_id }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "h1000001-0011-0011-0011-000000000011",
      "name": "GET user_profiles (archive data)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 500]
    },
    {
      "parameters": {
        "jsCode": "const profileResult = $input.first().json;\nconst origin = $('Merge Stripe Paths').first().json;\n\nconst profile = Array.isArray(profileResult) ? profileResult[0] : profileResult;\n\nreturn [{\n  json: {\n    ...origin,\n    profile_snapshot: profile || {}\n  }\n}];"
      },
      "id": "h1000001-0012-0012-0012-000000000012",
      "name": "Build Archive Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/deleted_users_archive",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"stripe_customer_id\": \"{{ $json.stripe_customer_id }}\",\n  \"subscription_id\": \"{{ $json.subscription_id }}\",\n  \"deleted_by\": \"{{ $json.deleted_by }}\",\n  \"profile_snapshot\": {{ JSON.stringify($json.profile_snapshot) }},\n  \"deleted_at\": \"{{ $json.now }}\"\n}",
        "options": {}
      },
      "id": "h1000001-0013-0013-0013-000000000013",
      "name": "INSERT deleted_users_archive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2680, 500]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_entitlements?user_id=eq.{{ $('Build Archive Payload').first().json.user_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "h1000001-0014-0014-0014-000000000014",
      "name": "DELETE user_entitlements",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2920, 300]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_credits?user_id=eq.{{ $('Build Archive Payload').first().json.user_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "h1000001-0015-0015-0015-000000000015",
      "name": "DELETE user_credits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2920, 480]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_profiles?user_id=eq.{{ $('Build Archive Payload').first().json.user_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "h1000001-0016-0016-0016-000000000016",
      "name": "DELETE user_profiles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2920, 660]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/users?user_id=eq.{{ $('Build Archive Payload').first().json.user_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"deleted\",\n  \"deleted_at\": \"{{ $('Build Archive Payload').first().json.now }}\",\n  \"access_blocked\": true,\n  \"updated_at\": \"{{ $('Build Archive Payload').first().json.now }}\"\n}",
        "options": {}
      },
      "id": "h1000001-0017-0017-0017-000000000017",
      "name": "PATCH users: soft-delete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2920, 840]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst origin = $('Build Archive Payload').first().json;\n\nif (!items || items.length === 0) throw new Error('No results from deletion steps');\n\nreturn [{\n  json: {\n    user_id: origin.user_id,\n    email: origin.email,\n    stripe_customer_id: origin.stripe_customer_id,\n    deleted_by: origin.deleted_by,\n    stripe_cancelled: origin.stripe_cancelled,\n    now: origin.now,\n    deletion_steps_completed: items.length\n  }\n}];"
      },
      "id": "h1000001-0018-0018-0018-000000000018",
      "name": "Merge Deletion Steps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3180, 580]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Nova OPS <noreply@nova-ops.space>\",\n  \"to\": [\"{{ $json.email }}\"],\n  \"subject\": \"Your Nova OPS account has been deleted\",\n  \"html\": \"<div style='font-family:sans-serif;max-width:560px;margin:0 auto;color:#1a1a1a'><h2 style='color:#0f172a'>Your account has been deleted</h2><p>Hi there,</p><p>Your Nova OPS account associated with <strong>{{ $json.email }}</strong> has been permanently deleted as requested.</p><ul><li>Your subscription has been cancelled — no further charges will occur</li><li>All your data has been removed from our systems</li><li>Any remaining credits have been cleared</li></ul><p>If you didn't request this deletion or believe this was a mistake, please contact us immediately at <a href='mailto:support@nova-ops.space'>support@nova-ops.space</a>.</p><hr style='border:none;border-top:1px solid #e2e8f0;margin:24px 0'/><p style='font-size:13px;color:#64748b'>We're sorry to see you go. If you ever want to come back, you can create a new account at <a href='https://nova-ops.space'>nova-ops.space</a>.</p><p style='font-size:12px;color:#94a3b8'>Nova OPS · Tampa, FL</p></div>\",\n  \"text\": \"Your Nova OPS account ({{ $json.email }}) has been permanently deleted. Your subscription has been cancelled and all data removed. Questions? support@nova-ops.space\"\n}",
        "options": {}
      },
      "id": "h1000001-0019-0019-0019-000000000019",
      "name": "Send Deletion Confirmation Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3420, 580]
    },
    {
      "parameters": {
        "jsCode": "const emailResult = $input.first().json;\nconst origin = $('Merge Deletion Steps').first().json;\n\nconst email_id = emailResult?.id || null;\nconst email_sent = !!email_id;\n\nreturn [{\n  json: {\n    ...origin,\n    email_sent,\n    email_id\n  }\n}];"
      },
      "id": "h1000001-0020-0020-0020-000000000020",
      "name": "Confirm Email Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3660, 580]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/admin_audit_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"event_type\": \"user_deleted\",\n  \"deleted_by\": \"{{ $json.deleted_by }}\",\n  \"stripe_customer_id\": \"{{ $json.stripe_customer_id }}\",\n  \"stripe_cancelled\": {{ $json.stripe_cancelled }},\n  \"confirmation_email_sent\": {{ $json.email_sent }},\n  \"email_provider_id\": \"{{ $json.email_id }}\",\n  \"created_at\": \"{{ $json.now }}\"\n}",
        "options": {}
      },
      "id": "h1000001-0021-0021-0021-000000000021",
      "name": "INSERT admin_audit_log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3900, 580]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"action\": \"user_deleted\",\n  \"user_id\": \"{{ $('Confirm Email Sent').first().json.user_id }}\",\n  \"email\": \"{{ $('Confirm Email Sent').first().json.email }}\",\n  \"stripe_cancelled\": {{ $('Confirm Email Sent').first().json.stripe_cancelled }},\n  \"confirmation_email_sent\": {{ $('Confirm Email Sent').first().json.email_sent }},\n  \"deleted_at\": \"{{ $('Confirm Email Sent').first().json.now }}\"\n}",
        "options": { "responseCode": 200 }
      },
      "id": "h1000001-0022-0022-0022-000000000022",
      "name": "Return: Deleted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [4140, 580]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Parse & Validate", "type": "main", "index": 0 }]
      ]
    },
    "Parse & Validate": {
      "main": [
        [{ "node": "Has Stripe Customer?", "type": "main", "index": 0 }]
      ]
    },
    "Has Stripe Customer?": {
      "main": [
        [{ "node": "GET Stripe Subscription",       "type": "main", "index": 0 }],
        [{ "node": "Skip: No Stripe Customer",       "type": "main", "index": 0 }]
      ]
    },
    "GET Stripe Subscription": {
      "main": [
        [{ "node": "Extract Subscription ID", "type": "main", "index": 0 }]
      ]
    },
    "Extract Subscription ID": {
      "main": [
        [{ "node": "Has Active Subscription?", "type": "main", "index": 0 }]
      ]
    },
    "Has Active Subscription?": {
      "main": [
        [{ "node": "DELETE Stripe Subscription", "type": "main", "index": 0 }],
        [{ "node": "Skip: No Sub",               "type": "main", "index": 0 }]
      ]
    },
    "DELETE Stripe Subscription": {
      "main": [
        [{ "node": "Merge Stripe Paths", "type": "main", "index": 0 }]
      ]
    },
    "Skip: No Sub": {
      "main": [
        [{ "node": "Merge Stripe Paths", "type": "main", "index": 0 }]
      ]
    },
    "Skip: No Stripe Customer": {
      "main": [
        [{ "node": "Merge Stripe Paths", "type": "main", "index": 0 }]
      ]
    },
    "Merge Stripe Paths": {
      "main": [
        [{ "node": "GET user_profiles (archive data)", "type": "main", "index": 0 }]
      ]
    },
    "GET user_profiles (archive data)": {
      "main": [
        [{ "node": "Build Archive Payload", "type": "main", "index": 0 }]
      ]
    },
    "Build Archive Payload": {
      "main": [
        [{ "node": "INSERT deleted_users_archive", "type": "main", "index": 0 }]
      ]
    },
    "INSERT deleted_users_archive": {
      "main": [
        [
          { "node": "DELETE user_entitlements",  "type": "main", "index": 0 },
          { "node": "DELETE user_credits",       "type": "main", "index": 0 },
          { "node": "DELETE user_profiles",      "type": "main", "index": 0 },
          { "node": "PATCH users: soft-delete",  "type": "main", "index": 0 }
        ]
      ]
    },
    "DELETE user_entitlements": {
      "main": [
        [{ "node": "Merge Deletion Steps", "type": "main", "index": 0 }]
      ]
    },
    "DELETE user_credits": {
      "main": [
        [{ "node": "Merge Deletion Steps", "type": "main", "index": 0 }]
      ]
    },
    "DELETE user_profiles": {
      "main": [
        [{ "node": "Merge Deletion Steps", "type": "main", "index": 0 }]
      ]
    },
    "PATCH users: soft-delete": {
      "main": [
        [{ "node": "Merge Deletion Steps", "type": "main", "index": 0 }]
      ]
    },
    "Merge Deletion Steps": {
      "main": [
        [{ "node": "Send Deletion Confirmation Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Deletion Confirmation Email": {
      "main": [
        [{ "node": "Confirm Email Sent", "type": "main", "index": 0 }]
      ]
    },
    "Confirm Email Sent": {
      "main": [
        [{ "node": "INSERT admin_audit_log", "type": "main", "index": 0 }]
      ]
    },
    "INSERT admin_audit_log": {
      "main": [
        [{ "node": "Return: Deleted", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "name": "nova-ops" },
    { "name": "user-lifecycle" },
    { "name": "gdpr" },
    { "name": "teardown" }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-28T00:00:00.000Z",
  "versionId": "nova-ops-v1"
}
