N8N/nova_ops_ai_generate_gtm_n8n.json
{
  "name": "AI - Generate GTM Strategy (n8n)",
  "meta": { "description": "TASK-098 · Receives idea and market context, calls generate-gtm-strategy edge function, logs activation event, returns structured GTM output.", "templateId": "nova-ops-ai-generate-gtm" },
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "nova-ops-ai-generate-gtm", "responseMode": "responseNode", "options": {} },
      "id": "t098-0001", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [240, 400]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst user_id = body.user_id || null;\nconst workspace_id = body.workspace_id || null;\nconst idea = body.idea || body.product || '';\nconst target_customer = body.target_customer || 'Founders';\nconst niche = body.niche || null;\nconst channels = body.channels || null;\nconst budget_range = body.budget_range || null;\nif (!idea.trim()) throw new Error('idea is required');\nif (!user_id) throw new Error('user_id is required');\nreturn [{ json: { user_id, workspace_id, idea, target_customer, niche, channels, budget_range, now: new Date().toISOString() } }];"
      },
      "id": "t098-0002", "name": "Parse Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [480, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/generate-gtm-strategy",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
        ]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={\n  \"idea\": {{ JSON.stringify($json.idea) }},\n  \"target_customer\": {{ JSON.stringify($json.target_customer) }},\n  \"niche\": {{ $json.niche ? JSON.stringify($json.niche) : 'null' }},\n  \"channels\": {{ $json.channels ? JSON.stringify($json.channels) : 'null' }},\n  \"budget_range\": {{ $json.budget_range ? JSON.stringify($json.budget_range) : 'null' }},\n  \"user_id\": {{ JSON.stringify($json.user_id) }}\n}",
        "options": {}
      },
      "id": "t098-0003", "name": "Call Generate-GTM Edge Fn", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [720, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/activation_events",
        "authentication": "predefinedCredentialType", "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Parse Input').item.json.user_id }}\",\n  \"workspace_id\": {{ $('Parse Input').item.json.workspace_id ? JSON.stringify($('Parse Input').item.json.workspace_id) : 'null' }},\n  \"event_name\": \"first_tool_run\",\n  \"properties\": { \"tool_key\": \"generate-gtm-strategy\", \"via\": \"n8n\" }\n}",
        "options": {}
      },
      "id": "t098-0004", "name": "Log first_tool_run", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [960, 400]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ $('Call Generate-GTM Edge Fn').item.json }}" },
      "id": "t098-0005", "name": "Return Result", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1200, 400]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]] },
    "Parse Input": { "main": [[{ "node": "Call Generate-GTM Edge Fn", "type": "main", "index": 0 }]] },
    "Call Generate-GTM Edge Fn": { "main": [[{ "node": "Log first_tool_run", "type": "main", "index": 0 }]] },
    "Log first_tool_run": { "main": [[{ "node": "Return Result", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": ["ai", "gtm", "sprint-3"]
}
