N8N/nova_ops_role_assignment.json
{
  "name": "New User Created Role Assignment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nova-ops-user-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "nova-ops-user-created"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst user_id = body.user_id || body.record?.id || null;\nconst email = body.email || body.record?.email || null;\nconst plan_tier = (body.plan_tier || 'free').toLowerCase().trim();\n\nif (!user_id || !email) {\n  throw new Error('Missing required fields: user_id or email');\n}\n\nconst creditMap = {\n  free: { credits: 10, unlimited: false },\n  starter: { credits: 100, unlimited: false },\n  pro: { credits: 500, unlimited: false },\n  scale: { credits: 0, unlimited: true }\n};\n\nconst creditConfig = creditMap[plan_tier] || creditMap['free'];\n\nreturn [{\n  json: {\n    user_id,\n    email,\n    plan_tier,\n    role: 'member',\n    credits: creditConfig.credits,\n    unlimited: creditConfig.unlimited,\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Parse & Map Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_profiles",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"role\": \"{{ $json.role }}\",\n  \"plan_tier\": \"{{ $json.plan_tier }}\",\n  \"created_at\": \"{{ $json.created_at }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Insert user_profiles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_credits",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Parse & Map Payload').first().json.user_id }}\",\n  \"credits\": {{ $('Parse & Map Payload').first().json.credits }},\n  \"unlimited\": {{ $('Parse & Map Payload').first().json.unlimited }},\n  \"created_at\": \"{{ $('Parse & Map Payload').first().json.created_at }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Insert user_credits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-profile",
              "leftValue": "={{ $('Insert user_profiles').first().json[0]?.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Validate Inserts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"User onboarded successfully\",\n  \"data\": {\n    \"user_id\": \"{{ $('Parse & Map Payload').first().json.user_id }}\",\n    \"email\": \"{{ $('Parse & Map Payload').first().json.email }}\",\n    \"role\": \"member\",\n    \"plan_tier\": \"{{ $('Parse & Map Payload').first().json.plan_tier }}\",\n    \"credits_assigned\": {{ $('Parse & Map Payload').first().json.credits }},\n    \"unlimited\": {{ $('Parse & Map Payload').first().json.unlimited }}\n  }\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"User profile insert may have failed — check Supabase logs\",\n  \"user_id\": \"{{ $('Parse & Map Payload').first().json.user_id }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse & Map Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Map Payload": {
      "main": [
        [
          {
            "node": "Insert user_profiles",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert user_credits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert user_profiles": {
      "main": [
        [
          {
            "node": "Validate Inserts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert user_credits": {
      "main": [
        [
          {
            "node": "Validate Inserts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Inserts": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "nova-ops"
    },
    {
      "name": "user-onboarding"
    },
    {
      "name": "auth"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-28T00:00:00.000Z",
  "versionId": "nova-ops-v1"
}
