N8N/stripe-payment-failed.json
{
  "name": "Stripe Payment Failed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-payment-failed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a7b8c9d0-0001-0001-0001-000000000001",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "stripe-payment-failed"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst event = body;\nconst invoice = event?.data?.object || {};\n\nconst customerId = invoice.customer || '';\nconst invoiceId = invoice.id || '';\nconst attemptCount = invoice.attempt_count || 1;\nconst nextPaymentAttempt = invoice.next_payment_attempt || null;\nconst amountDue = invoice.amount_due || 0;\nconst currency = (invoice.currency || 'usd').toUpperCase();\nconst amountDisplay = `$${(amountDue / 100).toFixed(2)} ${currency}`;\n\nconst nextRetryDisplay = nextPaymentAttempt\n  ? new Date(nextPaymentAttempt * 1000).toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })\n  : 'No automatic retry scheduled';\n\nconst isSuspended = attemptCount >= 3;\n\nreturn [{ json: {\n  customerId,\n  invoiceId,\n  attemptCount,\n  nextPaymentAttempt,\n  nextRetryDisplay,\n  amountDue,\n  amountDisplay,\n  currency,\n  isSuspended,\n  updatedAt: new Date().toISOString(),\n  rawPayload: JSON.stringify(body)\n} }];"
      },
      "id": "a7b8c9d0-0002-0002-0002-000000000002",
      "name": "Parse Payment Failed Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "stripe_customer_id", "value": "=eq.{{ $json.customerId }}" },
            { "name": "select", "value": "email,first_name,stripe_customer_id" }
          ]
        },
        "options": {}
      },
      "id": "a7b8c9d0-0003-0003-0003-000000000003",
      "name": "Get User from Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const users = $input.first().json;\nconst user = Array.isArray(users) ? users[0] : users;\nconst parsed = $('Parse Payment Failed Payload').first().json;\nreturn [{ json: {\n  ...parsed,\n  email: user?.email || '',\n  firstName: user?.first_name || 'there'\n} }];"
      },
      "id": "a7b8c9d0-0004-0004-0004-000000000004",
      "name": "Merge User Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst patch = {\n  payment_status: 'past_due',\n  updated_at: data.updatedAt\n};\nif (data.isSuspended) {\n  patch.plan_status = 'suspended';\n}\nreturn [{ json: { ...data, patch } }];"
      },
      "id": "a7b8c9d0-0005-0005-0005-000000000005",
      "name": "Build Patch Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "stripe_customer_id", "value": "=eq.{{ $json.customerId }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.patch) }}",
        "options": { "response": { "response": { "neverError": true, "responseFormat": "json" } } }
      },
      "id": "a7b8c9d0-0006-0006-0006-000000000006",
      "name": "Update User Payment Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Nova OPS <hello@nova-ops.space>\",\n  \"to\": [\"{{ $('Merge User Data').first().json.email }}\"],\n  \"subject\": \"⚠️ Payment failed — update your card to keep access\",\n  \"html\": \"<div style='font-family: sans-serif; max-width: 600px; margin: 0 auto; color: #1a1a1a;'><div style='background: #fef9c3; border-left: 4px solid #eab308; padding: 16px 20px; border-radius: 4px; margin-bottom: 28px;'><p style='margin: 0; font-size: 15px; color: #854d0e; font-weight: 600;'>⚠️ Action required — your payment of {{ $('Merge User Data').first().json.amountDisplay }} failed.</p></div><h1 style='font-size: 24px; margin-top: 0;'>Hi {{ $('Merge User Data').first().json.firstName }}, we couldn't process your payment.</h1><p style='font-size: 16px; color: #444; line-height: 1.7;'>Your Nova OPS subscription payment of <strong>{{ $('Merge User Data').first().json.amountDisplay }}</strong> was unsuccessful. This is attempt <strong>{{ $('Merge User Data').first().json.attemptCount }}</strong> of 3.</p>{{ $('Merge User Data').first().json.isSuspended ? '<div style=\"background:#fef2f2;border-left:4px solid #ef4444;padding:16px 20px;border-radius:4px;margin:20px 0;\"><p style=\"margin:0;font-size:15px;color:#b91c1c;font-weight:600;\">🔴 Your account has been suspended after 3 failed attempts. Update your payment method to restore access immediately.</p></div>' : '<p style=\"font-size:15px;color:#444;\">Next automatic retry: <strong>' + $('Merge User Data').first().json.nextRetryDisplay + '</strong></p>' }}<p style='font-size: 16px; color: #444; margin-top: 24px;'>To avoid losing access to your automations and tools, update your payment method now:</p><div style='text-align: center; margin: 32px 0;'><a href='{{ $env.STRIPE_CUSTOMER_PORTAL_URL }}' style='background: #6366f1; color: white; padding: 14px 32px; border-radius: 8px; text-decoration: none; font-size: 16px; font-weight: 700; display: inline-block;'>Update Payment Method</a><p style='font-size: 12px; color: #94a3b8; margin-top: 10px;'>Secure link — takes 30 seconds</p></div><p style='font-size: 14px; color: #64748b; border-top: 1px solid #e2e8f0; padding-top: 20px;'>If you're having trouble or want to discuss your plan, just reply to this email.</p><p style='font-size: 14px; color: #555;'>— The Nova OPS Team</p></div>\"\n}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "a7b8c9d0-0007-0007-0007-000000000007",
      "name": "Send Payment Failed Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/billing_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_email\": \"{{ $('Merge User Data').first().json.email }}\",\n  \"stripe_customer_id\": \"{{ $('Merge User Data').first().json.customerId }}\",\n  \"invoice_id\": \"{{ $('Merge User Data').first().json.invoiceId }}\",\n  \"event_type\": \"payment_failed\",\n  \"attempt_count\": {{ $('Merge User Data').first().json.attemptCount }},\n  \"amount_due\": {{ $('Merge User Data').first().json.amountDue }},\n  \"currency\": \"{{ $('Merge User Data').first().json.currency }}\",\n  \"suspended\": {{ $('Merge User Data').first().json.isSuspended }},\n  \"next_retry_at\": {{ $('Merge User Data').first().json.nextPaymentAttempt ? '\"' + $('Merge User Data').first().json.nextRetryDisplay + '\"' : 'null' }},\n  \"occurred_at\": \"{{ $('Merge User Data').first().json.updatedAt }}\"\n}",
        "options": {}
      },
      "id": "a7b8c9d0-0008-0008-0008-000000000008",
      "name": "Log to billing_events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200,
          "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "text/plain" }] }
        }
      },
      "id": "a7b8c9d0-0009-0009-0009-000000000009",
      "name": "Return 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [[{ "node": "Parse Payment Failed Payload", "type": "main", "index": 0 }]]
    },
    "Parse Payment Failed Payload": {
      "main": [[{ "node": "Get User from Supabase", "type": "main", "index": 0 }]]
    },
    "Get User from Supabase": {
      "main": [[{ "node": "Merge User Data", "type": "main", "index": 0 }]]
    },
    "Merge User Data": {
      "main": [[{ "node": "Build Patch Body", "type": "main", "index": 0 }]]
    },
    "Build Patch Body": {
      "main": [[{ "node": "Update User Payment Status", "type": "main", "index": 0 }]]
    },
    "Update User Payment Status": {
      "main": [[{ "node": "Send Payment Failed Email", "type": "main", "index": 0 }]]
    },
    "Send Payment Failed Email": {
      "main": [[{ "node": "Log to billing_events", "type": "main", "index": 0 }]]
    },
    "Log to billing_events": {
      "main": [[{ "node": "Return 200 OK", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["nova-ops", "stripe", "billing", "payment-failed"],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "nova-ops-payment-failed-v1"
}
