N8N/stripe-plan-upgrade.json
{
  "name": "Stripe Plan Upgrade",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-plan-upgrade",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000001",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "stripe-plan-upgrade"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst event = body;\nconst subscription = event?.data?.object || {};\nconst previousAttributes = event?.data?.previous_attributes || {};\n\n// Core IDs\nconst customerId = subscription.customer || '';\nconst subscriptionId = subscription.id || '';\nconst newPriceId = subscription.items?.data?.[0]?.price?.id || '';\nconst oldPriceId = previousAttributes.items?.data?.[0]?.price?.id || '';\n\n// Tier ranking for upgrade detection\nconst tierRank = { free: 0, starter: 1, pro: 2, scale: 3 };\n\nconst priceToTier = (priceId) => {\n  if (!priceId) return 'free';\n  if (priceId.includes('scale')) return 'scale';\n  if (priceId.includes('pro')) return 'pro';\n  if (priceId.includes('starter')) return 'starter';\n  const map = {\n    'price_free': 'free',\n    'price_starter': 'starter',\n    'price_pro': 'pro',\n    'price_scale': 'scale'\n  };\n  return map[priceId] || 'free';\n};\n\nconst oldTier = priceToTier(oldPriceId);\nconst newTier = priceToTier(newPriceId);\nconst isUpgrade = tierRank[newTier] > tierRank[oldTier];\n\n// Feature flags by tier\nconst featureFlags = {\n  free: {\n    launchpad_access: true,\n    nova_os_access: false,\n    ai_tools_limit: 3,\n    automation_systems: 0,\n    priority_support: false,\n    white_label: false\n  },\n  starter: {\n    launchpad_access: true,\n    nova_os_access: false,\n    ai_tools_limit: 10,\n    automation_systems: 2,\n    priority_support: false,\n    white_label: false\n  },\n  pro: {\n    launchpad_access: true,\n    nova_os_access: true,\n    ai_tools_limit: 10,\n    automation_systems: 6,\n    priority_support: true,\n    white_label: false\n  },\n  scale: {\n    launchpad_access: true,\n    nova_os_access: true,\n    ai_tools_limit: 10,\n    automation_systems: 6,\n    priority_support: true,\n    white_label: true\n  }\n};\n\nconst oldFlags = featureFlags[oldTier] || featureFlags['free'];\nconst newFlags = featureFlags[newTier] || featureFlags['free'];\n\n// Newly unlocked features for email\nconst newlyUnlocked = [];\nif (!oldFlags.nova_os_access && newFlags.nova_os_access) newlyUnlocked.push('Nova OS Access');\nif (!oldFlags.priority_support && newFlags.priority_support) newlyUnlocked.push('Priority Support');\nif (!oldFlags.white_label && newFlags.white_label) newlyUnlocked.push('White Label');\nif (newFlags.automation_systems > oldFlags.automation_systems) newlyUnlocked.push(`${newFlags.automation_systems} Automation Systems`);\nif (newFlags.ai_tools_limit > oldFlags.ai_tools_limit) newlyUnlocked.push(`${newFlags.ai_tools_limit} AI Tools`);\n\nconst planDisplayNames = {\n  free: 'Free',\n  starter: 'Starter ($49/mo)',\n  pro: 'Pro ($149/mo)',\n  scale: 'Scale ($299/mo)'\n};\n\nreturn [{\n  json: {\n    customerId,\n    subscriptionId,\n    oldPriceId,\n    newPriceId,\n    oldTier,\n    newTier,\n    isUpgrade,\n    newFlags,\n    newlyUnlocked,\n    newPlanDisplayName: planDisplayNames[newTier] || newTier,\n    updatedAt: new Date().toISOString(),\n    rawPayload: JSON.stringify(body)\n  }\n}];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Parse Upgrade Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-is-upgrade",
              "leftValue": "={{ $json.isUpgrade }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0003-0003-0003-000000000003",
      "name": "Is Upgrade?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK - Not an upgrade",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b2c3d4e5-0004-0004-0004-000000000004",
      "name": "Return 200 Not Upgrade",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 480]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "stripe_customer_id",
              "value": "=eq.{{ $('Parse Upgrade Payload').first().json.customerId }}"
            },
            {
              "name": "select",
              "value": "email,first_name,stripe_customer_id"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0005-0005-0005-000000000005",
      "name": "Get User from Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const users = $input.first().json;\nconst user = Array.isArray(users) ? users[0] : users;\nconst parsed = $('Parse Upgrade Payload').first().json;\n\nreturn [{\n  json: {\n    ...parsed,\n    email: user?.email || '',\n    firstName: user?.first_name || 'there'\n  }\n}];"
      },
      "id": "b2c3d4e5-0006-0006-0006-000000000006",
      "name": "Merge User Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "stripe_customer_id",
              "value": "=eq.{{ $json.customerId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"plan_tier\": \"{{ $json.newTier }}\",\n  \"updated_at\": \"{{ $json.updatedAt }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b2c3d4e5-0007-0007-0007-000000000007",
      "name": "Update User Plan Tier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_entitlements",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "=eq.{{ $('Merge User Data').first().json.email }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"plan_tier\": \"{{ $('Merge User Data').first().json.newTier }}\",\n  \"launchpad_access\": {{ $('Merge User Data').first().json.newFlags.launchpad_access }},\n  \"nova_os_access\": {{ $('Merge User Data').first().json.newFlags.nova_os_access }},\n  \"ai_tools_limit\": {{ $('Merge User Data').first().json.newFlags.ai_tools_limit }},\n  \"automation_systems\": {{ $('Merge User Data').first().json.newFlags.automation_systems }},\n  \"priority_support\": {{ $('Merge User Data').first().json.newFlags.priority_support }},\n  \"white_label\": {{ $('Merge User Data').first().json.newFlags.white_label }},\n  \"updated_at\": \"{{ $('Merge User Data').first().json.updatedAt }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b2c3d4e5-0008-0008-0008-000000000008",
      "name": "Update Feature Flags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Nova OPS <hello@nova-ops.space>\",\n  \"to\": [\"{{ $('Merge User Data').first().json.email }}\"],\n  \"subject\": \"You've upgraded to {{ $('Merge User Data').first().json.newPlanDisplayName }} 🚀\",\n  \"html\": \"<h1>Welcome to {{ $('Merge User Data').first().json.newPlanDisplayName }}, {{ $('Merge User Data').first().json.firstName }}!</h1><p>Your plan has been upgraded. Here's what you've just unlocked:</p><ul>{{ $('Merge User Data').first().json.newlyUnlocked.map(f => '<li>' + f + '</li>').join('') }}</ul><p>Log in now to start using your new features.</p><p>— The Nova OPS Team</p>\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b2c3d4e5-0009-0009-0009-000000000009",
      "name": "Send Upgrade Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/plan_change_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $('Merge User Data').first().json.email }}\",\n  \"stripe_customer_id\": \"{{ $('Merge User Data').first().json.customerId }}\",\n  \"stripe_subscription_id\": \"{{ $('Merge User Data').first().json.subscriptionId }}\",\n  \"old_tier\": \"{{ $('Merge User Data').first().json.oldTier }}\",\n  \"new_tier\": \"{{ $('Merge User Data').first().json.newTier }}\",\n  \"old_price_id\": \"{{ $('Merge User Data').first().json.oldPriceId }}\",\n  \"new_price_id\": \"{{ $('Merge User Data').first().json.newPriceId }}\",\n  \"change_type\": \"upgrade\",\n  \"newly_unlocked\": {{ JSON.stringify($('Merge User Data').first().json.newlyUnlocked) }},\n  \"changed_at\": \"{{ $('Merge User Data').first().json.updatedAt }}\"\n}",
        "options": {}
      },
      "id": "b2c3d4e5-0010-0010-0010-000000000010",
      "name": "Log Plan Change",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "id": "b2c3d4e5-0011-0011-0011-000000000011",
      "name": "Return 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 300]
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Parse Upgrade Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Upgrade Payload": {
      "main": [
        [
          {
            "node": "Is Upgrade?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Upgrade?": {
      "main": [
        [
          {
            "node": "Return 200 Not Upgrade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User from Supabase": {
      "main": [
        [
          {
            "node": "Merge User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge User Data": {
      "main": [
        [
          {
            "node": "Update User Plan Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Plan Tier": {
      "main": [
        [
          {
            "node": "Update Feature Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Feature Flags": {
      "main": [
        [
          {
            "node": "Send Upgrade Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Upgrade Email": {
      "main": [
        [
          {
            "node": "Log Plan Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Plan Change": {
      "main": [
        [
          {
            "node": "Return 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["nova-ops", "stripe", "upgrade", "billing"],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "nova-ops-upgrade-v1"
}
