N8N/stripe-subscription-cancelled-forced.json
{
  "name": "Stripe Subscription Cancelled Forced",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-subscription-cancelled-forced",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d0e1f2a3-0001-0001-0001-000000000001",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "stripe-subscription-cancelled-forced"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst event = body;\nconst subscription = event?.data?.object || {};\n\nconst cancellationReason = subscription.cancellation_details?.reason || '';\nconst isForced = cancellationReason === 'payment_failed';\n\nif (!isForced) {\n  return [{ json: { skip: true, reason: 'Not a forced cancellation', cancellationReason } }];\n}\n\nconst customerId = subscription.customer || '';\nconst subscriptionId = subscription.id || '';\nconst cancelledAt = subscription.canceled_at\n  ? new Date(subscription.canceled_at * 1000).toISOString()\n  : new Date().toISOString();\n\n// Get latest invoice amount if available\nconst latestInvoice = subscription.latest_invoice || null;\nconst amountOwed = subscription.items?.data?.[0]?.price?.unit_amount || 0;\nconst currency = (subscription.items?.data?.[0]?.price?.currency || 'usd').toUpperCase();\nconst amountOwedDisplay = amountOwed ? `$${(amountOwed / 100).toFixed(2)} ${currency}` : 'outstanding balance';\n\nreturn [{ json: {\n  customerId,\n  subscriptionId,\n  cancellationReason,\n  cancelledAt,\n  amountOwed,\n  amountOwedDisplay,\n  currency,\n  latestInvoice,\n  skip: false,\n  updatedAt: new Date().toISOString(),\n  rawPayload: JSON.stringify(body)\n} }];"
      },
      "id": "d0e1f2a3-0002-0002-0002-000000000002",
      "name": "Parse Forced Cancellation Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d0e1f2a3-0003-0003-0003-000000000003",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK - Not a forced cancellation",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d0e1f2a3-0004-0004-0004-000000000004",
      "name": "Return 200 Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        480
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/users",
        "sendHeaders": false,
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "stripe_customer_id",
              "value": "=eq.{{ $('Parse Forced Cancellation Payload').first().json.customerId }}"
            },
            {
              "name": "select",
              "value": "email,first_name,plan_tier,stripe_customer_id"
            }
          ]
        },
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi"
      },
      "id": "d0e1f2a3-0005-0005-0005-000000000005",
      "name": "Get User from Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xbPYfxBm7UismiBl",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const users = $input.first().json;\nconst user = Array.isArray(users) ? users[0] : users;\nconst parsed = $('Parse Forced Cancellation Payload').first().json;\n\nconst planDisplayNames = { free: 'Free', starter: 'Starter', pro: 'Pro', scale: 'Scale' };\nconst planTier = user?.plan_tier || 'starter';\nconst planDisplay = planDisplayNames[planTier] || planTier;\n\nreturn [{ json: {\n  ...parsed,\n  email: user?.email || '',\n  firstName: user?.first_name || 'there',\n  planTier,\n  planDisplay\n} }];"
      },
      "id": "d0e1f2a3-0006-0006-0006-000000000006",
      "name": "Merge User Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "stripe_customer_id",
              "value": "=eq.{{ $json.customerId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"plan_status\": \"suspended\",\n  \"payment_status\": \"failed\",\n  \"plan_tier\": \"free\",\n  \"cancellation_reason\": \"payment_failed\",\n  \"cancelled_at\": \"{{ $json.cancelledAt }}\",\n  \"updated_at\": \"{{ $json.updatedAt }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi"
      },
      "id": "d0e1f2a3-0007-0007-0007-000000000007",
      "name": "Suspend User in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xbPYfxBm7UismiBl",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_entitlements",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "=eq.{{ $('Merge User Data').first().json.email }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"plan_tier\": \"free\",\n  \"launchpad_access\": false,\n  \"nova_os_access\": false,\n  \"ai_tools_limit\": 0,\n  \"automation_systems\": 0,\n  \"priority_support\": false,\n  \"white_label\": false,\n  \"updated_at\": \"{{ $('Merge User Data').first().json.updatedAt }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi"
      },
      "id": "d0e1f2a3-0008-0008-0008-000000000008",
      "name": "Kill All Feature Flags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xbPYfxBm7UismiBl",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Nova OPS <hello@nova-ops.space>\",\n  \"to\": [\"{{ $('Merge User Data').first().json.email }}\"],\n  \"subject\": \"\ud83d\udd34 Your Nova OPS account has been suspended\",\n  \"html\": \"<div style='font-family: sans-serif; max-width: 600px; margin: 0 auto; color: #1a1a1a;'><div style='background: #fef2f2; border-left: 4px solid #ef4444; padding: 16px 20px; border-radius: 4px; margin-bottom: 28px;'><p style='margin: 0; font-size: 15px; color: #b91c1c; font-weight: 600;'>\ud83d\udd34 Account suspended due to non-payment. Immediate action required.</p></div><h1 style='font-size: 24px; margin-top: 0;'>Hi {{ $('Merge User Data').first().json.firstName }}, your account has been suspended.</h1><p style='font-size: 16px; color: #444; line-height: 1.7;'>After multiple failed payment attempts, your Nova OPS <strong>{{ $('Merge User Data').first().json.planDisplay }}</strong> subscription has been cancelled and your account suspended.</p><div style='background: #fef9c3; border: 1px solid #fde047; border-radius: 8px; padding: 20px 24px; margin: 28px 0;'><p style='margin: 0 0 8px; font-size: 14px; font-weight: 700; color: #854d0e; text-transform: uppercase; letter-spacing: 0.05em;'>Account Status</p><ul style='margin: 0; padding-left: 20px; font-size: 15px; color: #713f12; line-height: 2;'><li>Outstanding balance: <strong>{{ $('Merge User Data').first().json.amountOwedDisplay }}</strong></li><li>All automations: <strong>Offline</strong></li><li>All AI tools: <strong>Disabled</strong></li><li>Your data: <strong>Preserved for 30 days</strong></li></ul></div><p style='font-size: 16px; color: #444;'>To restore your account immediately, update your payment method in the billing portal. Your automations will come back online within minutes.</p><div style='text-align: center; margin: 32px 0;'><a href='{{ $env.STRIPE_CUSTOMER_PORTAL_URL }}' style='background: #ef4444; color: white; padding: 16px 36px; border-radius: 8px; text-decoration: none; font-size: 17px; font-weight: 700; display: inline-block;'>Update Payment & Restore Access</a><p style='font-size: 12px; color: #94a3b8; margin-top: 10px;'>Secure link \u2014 restores access instantly</p></div><p style='font-size: 14px; color: #64748b;'>If you believe this is an error or want to discuss your account, reply to this email immediately.</p><p style='font-size: 14px; color: #555;'>\u2014 The Nova OPS Team</p></div>\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "d0e1f2a3-0009-0009-0009-000000000009",
      "name": "Send Suspension Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/billing_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_email\": \"{{ $('Merge User Data').first().json.email }}\",\n  \"stripe_customer_id\": \"{{ $('Merge User Data').first().json.customerId }}\",\n  \"event_type\": \"subscription_cancelled_forced\",\n  \"plan_tier\": \"{{ $('Merge User Data').first().json.planTier }}\",\n  \"cancellation_reason\": \"payment_failed\",\n  \"amount_owed\": {{ $('Merge User Data').first().json.amountOwed }},\n  \"currency\": \"{{ $('Merge User Data').first().json.currency }}\",\n  \"occurred_at\": \"{{ $('Merge User Data').first().json.cancelledAt }}\"\n}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi"
      },
      "id": "d0e1f2a3-0010-0010-0010-000000000010",
      "name": "Log to billing_events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xbPYfxBm7UismiBl",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "id": "d0e1f2a3-0011-0011-0011-000000000011",
      "name": "Return 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2220,
        300
      ]
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Parse Forced Cancellation Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Forced Cancellation Payload": {
      "main": [
        [
          {
            "node": "Should Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Skip?": {
      "main": [
        [
          {
            "node": "Return 200 Skipped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User from Supabase": {
      "main": [
        [
          {
            "node": "Merge User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge User Data": {
      "main": [
        [
          {
            "node": "Suspend User in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suspend User in Supabase": {
      "main": [
        [
          {
            "node": "Kill All Feature Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kill All Feature Flags": {
      "main": [
        [
          {
            "node": "Send Suspension Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Suspension Email": {
      "main": [
        [
          {
            "node": "Log to billing_events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to billing_events": {
      "main": [
        [
          {
            "node": "Return 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    "nova-ops",
    "stripe",
    "cancellation",
    "forced",
    "billing",
    "suspended"
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "nova-ops-cancelled-forced-v1"
}