N8N/stripe-chargeback-dispute-triggered.json
{
  "name": "Stripe Chargeback Dispute Triggered",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-chargeback-dispute",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f2a3b4c5-0001-0001-0001-000000000001",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "stripe-chargeback-dispute"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst event = body;\nconst dispute = event?.data?.object || {};\n\nconst disputeId = dispute.id || '';\nconst chargeId = dispute.charge || '';\nconst customerId = dispute.payment_intent || '';\nconst disputeAmount = dispute.amount || 0;\nconst currency = (dispute.currency || 'usd').toUpperCase();\nconst disputeAmountDisplay = `$${(disputeAmount / 100).toFixed(2)} ${currency}`;\nconst reason = dispute.reason || 'unknown';\nconst status = dispute.status || 'needs_response';\n\nconst reasonLabels = {\n  bank_cannot_process: 'Bank Cannot Process',\n  check_returned: 'Check Returned',\n  credit_not_processed: 'Credit Not Processed',\n  customer_initiated: 'Customer Initiated',\n  debit_not_authorized: 'Debit Not Authorized',\n  duplicate: 'Duplicate Charge',\n  fraudulent: 'Fraudulent',\n  general: 'General',\n  incorrect_account_details: 'Incorrect Account Details',\n  insufficient_funds: 'Insufficient Funds',\n  product_not_received: 'Product Not Received',\n  product_unacceptable: 'Product Unacceptable',\n  subscription_canceled: 'Subscription Cancelled',\n  unrecognized: 'Unrecognized'\n};\n\nconst reasonDisplay = reasonLabels[reason] || reason;\nconst stripeDisputeUrl = `https://dashboard.stripe.com/disputes/${disputeId}`;\n\n// Due by date\nconst evidenceDueBy = dispute.evidence_details?.due_by\n  ? new Date(dispute.evidence_details.due_by * 1000).toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' })\n  : 'Check Stripe dashboard';\n\nreturn [{ json: {\n  disputeId,\n  chargeId,\n  customerId,\n  disputeAmount,\n  disputeAmountDisplay,\n  currency,\n  reason,\n  reasonDisplay,\n  status,\n  stripeDisputeUrl,\n  evidenceDueBy,\n  createdAt: new Date().toISOString(),\n  rawPayload: JSON.stringify(body)\n} }];"
      },
      "id": "f2a3b4c5-0002-0002-0002-000000000002",
      "name": "Parse Dispute Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/users",
        "sendHeaders": false,
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "stripe_customer_id",
              "value": "=eq.{{ $json.customerId }}"
            },
            {
              "name": "select",
              "value": "id,email,first_name,plan_tier,stripe_customer_id"
            }
          ]
        },
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi"
      },
      "id": "f2a3b4c5-0003-0003-0003-000000000003",
      "name": "Get User from Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xbPYfxBm7UismiBl",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const users = $input.first().json;\nconst user = Array.isArray(users) ? users[0] : users;\nconst parsed = $('Parse Dispute Payload').first().json;\n\nreturn [{ json: {\n  ...parsed,\n  userId: user?.id || '',\n  email: user?.email || 'unknown@unknown.com',\n  firstName: user?.first_name || 'Unknown',\n  planTier: user?.plan_tier || 'unknown'\n} }];"
      },
      "id": "f2a3b4c5-0004-0004-0004-000000000004",
      "name": "Merge User Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "stripe_customer_id",
              "value": "=eq.{{ $json.customerId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"account_flag\": \"disputed\",\n  \"plan_status\": \"suspended\",\n  \"updated_at\": \"{{ $json.createdAt }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi"
      },
      "id": "f2a3b4c5-0005-0005-0005-000000000005",
      "name": "Flag and Suspend User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xbPYfxBm7UismiBl",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_entitlements",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "=eq.{{ $('Merge User Data').first().json.email }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"plan_tier\": \"suspended\",\n  \"launchpad_access\": false,\n  \"nova_os_access\": false,\n  \"ai_tools_limit\": 0,\n  \"automation_systems\": 0,\n  \"priority_support\": false,\n  \"white_label\": false,\n  \"updated_at\": \"{{ $('Merge User Data').first().json.createdAt }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi"
      },
      "id": "f2a3b4c5-0006-0006-0006-000000000006",
      "name": "Revoke All Feature Flags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xbPYfxBm7UismiBl",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"\ud83d\udea8 *CHARGEBACK DISPUTE CREATED* \ud83d\udea8\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"\ud83d\udea8 Chargeback Dispute \u2014 Immediate Action Required\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        { \"type\": \"mrkdwn\", \"text\": \"*Customer Email:*\\n{{ $('Merge User Data').first().json.email }}\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Dispute Amount:*\\n{{ $('Merge User Data').first().json.disputeAmountDisplay }}\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Reason:*\\n{{ $('Merge User Data').first().json.reasonDisplay }}\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Status:*\\n{{ $('Merge User Data').first().json.status }}\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Plan Tier:*\\n{{ $('Merge User Data').first().json.planTier }}\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Evidence Due By:*\\n{{ $('Merge User Data').first().json.evidenceDueBy }}\" }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Actions taken:* Account suspended \u2705 | Feature flags revoked \u2705\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": { \"type\": \"plain_text\", \"text\": \"View Dispute in Stripe\", \"emoji\": true },\n          \"style\": \"danger\",\n          \"url\": \"{{ $('Merge User Data').first().json.stripeDisputeUrl }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"Dispute ID: {{ $('Merge User Data').first().json.disputeId }} | Charge ID: {{ $('Merge User Data').first().json.chargeId }} | {{ $('Merge User Data').first().json.createdAt }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f2a3b4c5-0007-0007-0007-000000000007",
      "name": "Alert Slack Admin Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/disputes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Merge User Data').first().json.userId }}\",\n  \"user_email\": \"{{ $('Merge User Data').first().json.email }}\",\n  \"stripe_customer_id\": \"{{ $('Merge User Data').first().json.customerId }}\",\n  \"dispute_id\": \"{{ $('Merge User Data').first().json.disputeId }}\",\n  \"charge_id\": \"{{ $('Merge User Data').first().json.chargeId }}\",\n  \"amount\": {{ $('Merge User Data').first().json.disputeAmount }},\n  \"currency\": \"{{ $('Merge User Data').first().json.currency }}\",\n  \"reason\": \"{{ $('Merge User Data').first().json.reason }}\",\n  \"reason_display\": \"{{ $('Merge User Data').first().json.reasonDisplay }}\",\n  \"status\": \"{{ $('Merge User Data').first().json.status }}\",\n  \"stripe_dispute_url\": \"{{ $('Merge User Data').first().json.stripeDisputeUrl }}\",\n  \"evidence_due_by\": \"{{ $('Merge User Data').first().json.evidenceDueBy }}\",\n  \"plan_tier\": \"{{ $('Merge User Data').first().json.planTier }}\",\n  \"created_at\": \"{{ $('Merge User Data').first().json.createdAt }}\"\n}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi"
      },
      "id": "f2a3b4c5-0008-0008-0008-000000000008",
      "name": "Log to disputes Table",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xbPYfxBm7UismiBl",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "id": "f2a3b4c5-0009-0009-0009-000000000009",
      "name": "Return 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ]
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Parse Dispute Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Dispute Payload": {
      "main": [
        [
          {
            "node": "Get User from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User from Supabase": {
      "main": [
        [
          {
            "node": "Merge User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge User Data": {
      "main": [
        [
          {
            "node": "Flag and Suspend User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag and Suspend User": {
      "main": [
        [
          {
            "node": "Revoke All Feature Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revoke All Feature Flags": {
      "main": [
        [
          {
            "node": "Alert Slack Admin Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Slack Admin Channel": {
      "main": [
        [
          {
            "node": "Log to disputes Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to disputes Table": {
      "main": [
        [
          {
            "node": "Return 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    "nova-ops",
    "stripe",
    "dispute",
    "chargeback",
    "admin"
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "nova-ops-dispute-v1"
}