n8n/workflows/01-stg-ai-webhook-to-ai-operator-main-router-dhr.json
{
  "name": "STG \u00b7 AI \u00b7 Webhook \u2192 AI Operator Main Router \u00b7 DHR",
  "description": "AI | Webhook for frontend/API. Checks credits, fetches user context from Supabase, classifies intent via Claude, routes to subagent webhook. OWNER: Dhruv | p1:high | ai-powered | ENV: STG",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "AIlhwkZmGYE9ipKl"
  },
  "tags": [
    {
      "name": "env:stg"
    },
    {
      "name": "owner:dhruv"
    },
    {
      "name": "cat:ai"
    },
    {
      "name": "review:pending"
    },
    {
      "name": "p1:high"
    },
    {
      "name": "ai-powered"
    },
    {
      "name": "claude-generated"
    }
  ],
  "meta": {
    "aiBuilderAssisted": true
  },
  "nodes": [
    {
      "id": "a1000001-0000-0000-0000-000000000001",
      "name": "Webhook - Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        380
      ],
      "parameters": {
        "path": "ai-operator-router",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "novaops-ai-operator-router-stg"
    },
    {
      "id": "a1000002-0000-0000-0000-000000000002",
      "name": "HTTP - Deduct Credit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "https://stg.nova-ops.space/api/webhooks/credit-deduct",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $('Webhook - Receive Request').first().json.body.user_id, action: 'operator_call', credits: 1 }) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "a1000003-0000-0000-0000-000000000003",
      "name": "IF - Credits Allowed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        380
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-allowed",
              "leftValue": "={{ $json.allowed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1000004-0000-0000-0000-000000000004",
      "name": "Respond - Insufficient Credits",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        560
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Insufficient credits', code: 'CREDITS_DEPLETED' }) }}",
        "options": {
          "responseCode": 402
        }
      }
    },
    {
      "id": "a1000005-0000-0000-0000-000000000005",
      "name": "Supabase - Get Operator Config",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        900,
        240
      ],
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "ai_operator_config",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook - Receive Request').first().json.body.user_id }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "PLACEHOLDER_SUPABASE_CRED_ID",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "id": "a1000006-0000-0000-0000-000000000006",
      "name": "Supabase - Get Entitlements",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        240
      ],
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "plan_entitlements",
        "returnAll": false,
        "limit": 20,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook - Receive Request').first().json.body.user_id }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "PLACEHOLDER_SUPABASE_CRED_ID",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "id": "a1000007-0000-0000-0000-000000000007",
      "name": "Supabase - Get Session History",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1340,
        240
      ],
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "tool_runs",
        "returnAll": false,
        "limit": 5,
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook - Receive Request').first().json.body.session_id }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "PLACEHOLDER_SUPABASE_CRED_ID",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "id": "a1000008-0000-0000-0000-000000000008",
      "name": "Set - Build Claude Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1560,
        240
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "ctx-1",
              "name": "user_id",
              "value": "={{ $('Webhook - Receive Request').first().json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "ctx-2",
              "name": "session_id",
              "value": "={{ $('Webhook - Receive Request').first().json.body.session_id }}",
              "type": "string"
            },
            {
              "id": "ctx-3",
              "name": "message",
              "value": "={{ $('Webhook - Receive Request').first().json.body.message }}",
              "type": "string"
            },
            {
              "id": "ctx-4",
              "name": "operator_config",
              "value": "={{ $('Supabase - Get Operator Config').first().json }}",
              "type": "object"
            },
            {
              "id": "ctx-5",
              "name": "entitlements",
              "value": "={{ $('Supabase - Get Entitlements').all().map(i => i.json) }}",
              "type": "array"
            },
            {
              "id": "ctx-6",
              "name": "session_history",
              "value": "={{ $('Supabase - Get Session History').all().map(i => i.json) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1000009-0000-0000-0000-000000000009",
      "name": "HTTP - Claude Classify Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $vars.GLOBAL_AI_MODEL_DEFAULT || 'claude-sonnet-4-6', max_tokens: 512, system: 'You are the Nova OPS AI operator router. Given the user message and their business context, classify the intent into one of: [lead_gen, copywriting, offer_building, funnel_mapping, content_calendar, ad_strategy, email_sequence, seo_brief, competitor_research, social_planning, sales_script, brand_voice, analytics, automation_build, client_reporting, general_question]. Return JSON only: {\"intent\": string, \"confidence\": float, \"subagent\": string, \"params\": object}.', messages: [{ role: 'user', content: 'User message: ' + $json.message + ' | Business context: ' + JSON.stringify({ config: $json.operator_config, entitlements: $json.entitlements, recent_sessions: $json.session_history }) }] }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": false
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_ANTHROPIC_CRED_ID",
          "name": "ANTHROPIC_PROD_API"
        }
      }
    },
    {
      "id": "a1000010-0000-0000-0000-000000000010",
      "name": "Code - Parse Claude + Build Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        240
      ],
      "parameters": {
        "jsCode": "const content = $input.first().json.content;\\nconst text = Array.isArray(content) ? content[0].text : String(content);\\n\\nlet parsed;\\ntry {\\n  parsed = JSON.parse(text);\\n} catch (_) {\\n  const m = text.match(/\\\\{[\\\\s\\\\S]*\\\\}/);\\n  try { parsed = m ? JSON.parse(m[0]) : null; } catch (_) { parsed = null; }\\n}\\n\\nif (!parsed || !parsed.intent) {\\n  parsed = { intent: 'general_question', confidence: 0.5, subagent: 'general-question', params: {} };\\n}\\n\\nconst slugMap = {\\n  lead_gen: 'lead-gen',\\n  copywriting: 'copywriting',\\n  offer_building: 'offer-building',\\n  funnel_mapping: 'funnel-mapping',\\n  content_calendar: 'content-calendar',\\n  ad_strategy: 'ad-strategy',\\n  email_sequence: 'email-sequence',\\n  seo_brief: 'seo-brief',\\n  competitor_research: 'competitor-research',\\n  social_planning: 'social-planning',\\n  sales_script: 'sales-script',\\n  brand_voice: 'brand-voice',\\n  analytics: 'analytics',\\n  automation_build: 'automation-build',\\n  client_reporting: 'client-reporting',\\n  general_question: 'general-question'\\n};\\n\\nconst slug = slugMap[parsed.intent] || 'general-question';\\nconst baseUrl = $vars.GLOBAL_APP_URL_STG || 'https://stg.nova-ops.space';\\nconst ctx = $('Set - Build Claude Context').first().json;\\n\\nreturn [{\\n  json: {\\n    intent: parsed.intent,\\n    confidence: parsed.confidence || 0.5,\\n    subagent: parsed.subagent || slug,\\n    params: parsed.params || {},\\n    subagent_url: `${baseUrl}/api/webhooks/subagents/${slug}`,\\n    user_id: ctx.user_id,\\n    session_id: ctx.session_id,\\n    message: ctx.message\\n  }\\n}];"
      }
    },
    {
      "id": "a1000011-0000-0000-0000-000000000011",
      "name": "Switch - Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2220,
        240
      ],
      "parameters": {
        "mode": "rules",
        "options": {
          "fallbackOutput": "extra"
        },
        "rules": {
          "values": [
            {
              "outputKey": "lead_gen",
              "conditions": [
                {
                  "id": "r01",
                  "leftValue": "={{ $json.intent }}",
                  "rightValue": "lead_gen",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "renameOutput": true
            },
            {
              "outputKey": "copywriting",
              "conditions": [
                {
                  "id": "r02",
                  "leftValue": "={{ $json.intent }}",
                  "rightValue": "copywriting",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "renameOutput": true
            },
            {
              "outputKey": "offer_building",
              "conditions": [
                {
                  "id": "r03",
                  "leftValue": "={{ $json.intent }}",
                  "rightValue": "offer_building",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "renameOutput": true
            },
            {
              "outputKey": "funnel_mapping",
              "conditions": [
                {
                  "id": "r04",
                  "leftValue": "={{ $json.intent }}",
                  "rightValue": "funnel_mapping",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "renameOutput": true
            },
            {
              "outputKey": "content_calendar",
              "conditions": [
                {
                  "id": "r05",
                  "leftValue": "={{ $json.intent }}",
                  "rightValue": "content_calendar",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "renameOutput": true
            },
            {
              "outputKey": "ad_strategy",
              "conditions": [
                {
                  "id": "r06",
                  "leftValue": "={{ $json.intent }}",
                  "rightValue": "ad_strategy",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "renameOutput": true
            },
            {
              "outputKey": "email_sequence",
              "conditions": [
                {
                  "id": "r07",
                  "leftValue": "={{ $json.intent }}",
                  "rightValue": "email_sequence",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "renameOutput": true
            },
            {
              "outputKey": "seo_brief",
              "conditions": [
                {
                  "id": "r08",
                  "leftValue": "={{ $json.intent }}",
                  "rightValue": "seo_brief",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "renameOutput": true
            },
            {
              "outputKey": "competitor_research",
              "conditions": [
                {
                  "id": "r09",
                  "leftValue": "={{ $json.intent }}",
                  "rightValue": "competitor_research",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "renameOutput": true
            },
            {
              "outputKey": "social_planning",
              "conditions": [
                {
                  "id": "r10",
                  "leftValue": "={{ $json.intent }}",
                  "rightValue": "social_planning",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "renameOutput": true
            },
            {
              "outputKey": "sales_script",
              "conditions": [
                {
                  "id": "r11",
                  "leftValue": "={{ $json.intent }}",
                  "rightValue": "sales_script",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "renameOutput": true
            },
            {
              "outputKey": "brand_voice",
              "conditions": [
                {
                  "id": "r12",
                  "leftValue": "={{ $json.intent }}",
                  "rightValue": "brand_voice",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "renameOutput": true
            },
            {
              "outputKey": "analytics",
              "conditions": [
                {
                  "id": "r13",
                  "leftValue": "={{ $json.intent }}",
                  "rightValue": "analytics",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "renameOutput": true
            },
            {
              "outputKey": "automation_build",
              "conditions": [
                {
                  "id": "r14",
                  "leftValue": "={{ $json.intent }}",
                  "rightValue": "automation_build",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "renameOutput": true
            },
            {
              "outputKey": "client_reporting",
              "conditions": [
                {
                  "id": "r15",
                  "leftValue": "={{ $json.intent }}",
                  "rightValue": "client_reporting",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "renameOutput": true
            },
            {
              "outputKey": "general_question",
              "conditions": [
                {
                  "id": "r16",
                  "leftValue": "={{ $json.intent }}",
                  "rightValue": "general_question",
                  "operator": {
                    "type": "string",
                    "operation": "equals",
                    "name": "filter.operator.equals"
                  }
                }
              ],
              "renameOutput": true
            }
          ]
        }
      }
    },
    {
      "id": "a1000012-0000-0000-0000-000000000012",
      "name": "HTTP - Call Subagent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.subagent_url }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.user_id, session_id: $json.session_id, message: $json.message, intent: $json.intent, confidence: $json.confidence, params: $json.params }) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "a1000013-0000-0000-0000-000000000013",
      "name": "Respond - Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2700,
        240
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, intent: $('Code - Parse Claude + Build Route').first().json.intent, confidence: $('Code - Parse Claude + Build Route').first().json.confidence, subagent: $('Code - Parse Claude + Build Route').first().json.subagent, result: $json }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "a1000014-0000-0000-0000-000000000014",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        620
      ]
    },
    {
      "id": "a1000015-0000-0000-0000-000000000015",
      "name": "HTTP - Notify Error Router",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        620
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ipidfqwlszuhjgjygbvx.supabase.co/rest/v1/n8n_error_log",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow_name: 'STG \u00b7 AI \u00b7 Webhook \u2192 AI Operator Main Router \u00b7 DHR', error_message: $json.error.message, error_node: $json.execution.lastNodeExecuted, execution_id: $execution.id, timestamp: new Date().toISOString() }) }}",
        "options": {
          "timeout": 5000
        }
      }
    }
  ],
  "connections": {
    "Webhook - Receive Request": {
      "main": [
        [
          {
            "node": "HTTP - Deduct Credit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Deduct Credit": {
      "main": [
        [
          {
            "node": "IF - Credits Allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Credits Allowed": {
      "main": [
        [
          {
            "node": "Supabase - Get Operator Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Insufficient Credits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Operator Config": {
      "main": [
        [
          {
            "node": "Supabase - Get Entitlements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Entitlements": {
      "main": [
        [
          {
            "node": "Supabase - Get Session History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Session History": {
      "main": [
        [
          {
            "node": "Set - Build Claude Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Build Claude Context": {
      "main": [
        [
          {
            "node": "HTTP - Claude Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Claude Classify Intent": {
      "main": [
        [
          {
            "node": "Code - Parse Claude + Build Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Claude + Build Route": {
      "main": [
        [
          {
            "node": "Switch - Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Route by Intent": {
      "main": [
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Call Subagent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Call Subagent": {
      "main": [
        [
          {
            "node": "Respond - Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "HTTP - Notify Error Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}