n8n/workflows/03-stg-ai-webhook-to-ai-operator-tool-dispatcher-dhr.json
{
  "name": "STG \u00b7 AI \u00b7 Webhook \u2192 AI Operator Tool Dispatcher \u00b7 DHR",
  "description": "AI | Validates tool entitlement from Supabase, deducts tool-specific credits, dispatches to matching Launchpad tool webhook. Called by AI Operator Main Router. OWNER: Dhruv | p1:high | ai-powered | ENV: STG",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "AIlhwkZmGYE9ipKl"
  },
  "tags": [
    {
      "name": "env:stg"
    },
    {
      "name": "owner:dhruv"
    },
    {
      "name": "cat:ai"
    },
    {
      "name": "review:pending"
    },
    {
      "name": "p1:high"
    },
    {
      "name": "ai-powered"
    },
    {
      "name": "claude-generated"
    }
  ],
  "meta": {
    "aiBuilderAssisted": true
  },
  "nodes": [
    {
      "id": "c3000001-0000-0000-0000-000000000001",
      "name": "Webhook - Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        380
      ],
      "parameters": {
        "path": "ai-operator-tool-dispatcher",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "novaops-tool-dispatcher-stg"
    },
    {
      "id": "c3000002-0000-0000-0000-000000000002",
      "name": "HTTP - Get Entitlements",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        380
      ],
      "parameters": {
        "method": "GET",
        "url": "https://ipidfqwlszuhjgjygbvx.supabase.co/rest/v1/plan_entitlements",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "=eq.{{ $('Webhook - Receive Request').first().json.body.user_id }}"
            },
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {
          "timeout": 8000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "PLACEHOLDER_SUPABASE_CRED_ID",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "id": "c3000003-0000-0000-0000-000000000003",
      "name": "Code - Check Tool Entitlement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        380
      ],
      "parameters": {
        "jsCode": "const body    = $('Webhook - Receive Request').first().json.body;\\nconst toolId  = (body.tool_id || '').trim();\\nconst userId  = body.user_id;\\nconst params  = body.params || {};\\n\\nif (!toolId) {\\n  return [{ json: { user_id: userId, tool_id: toolId, params, entitled: false, credit_cost: 0, reason: 'missing_tool_id' } }];\\n}\\n\\nconst raw = $input.first().json;\\nconst rows = Array.isArray(raw) ? raw : (raw ? [raw] : []);\\n\\nlet entitled  = false;\\nlet creditCost = 1;\\nlet reason    = 'tool_not_in_plan';\\n\\nif (rows.length > 0) {\\n  const firstRow = rows[0];\\n\\n  // Schema A: each row is { tool_id: string, enabled: bool, credit_cost: int }\\n  if (firstRow.tool_id !== undefined) {\\n    const entry = rows.find(r => r.tool_id === toolId);\\n    if (entry) {\\n      entitled   = entry.enabled === true;\\n      creditCost = entry.credit_cost || 1;\\n      reason     = entitled ? null : 'tool_not_in_plan';\\n    }\\n  }\\n  // Schema B: single row with boolean flag per tool_id and optional credit_costs JSONB\\n  else if (typeof firstRow[toolId] !== 'undefined') {\\n    entitled = firstRow[toolId] === true;\\n    const costs = firstRow.credit_costs || {};\\n    creditCost = (typeof costs === 'object' && costs[toolId]) ? costs[toolId] : 1;\\n    reason = entitled ? null : 'tool_not_in_plan';\\n  }\\n  // Schema C: single row with plan_features JSONB array\\n  else if (Array.isArray(firstRow.plan_features)) {\\n    entitled = firstRow.plan_features.includes(toolId);\\n    const costs = firstRow.credit_costs || {};\\n    creditCost = costs[toolId] || 1;\\n    reason = entitled ? null : 'tool_not_in_plan';\\n  }\\n}\\n\\nreturn [{\\n  json: { user_id: userId, tool_id: toolId, params, entitled, credit_cost: creditCost, reason }\\n}];"
      }
    },
    {
      "id": "c3000004-0000-0000-0000-000000000004",
      "name": "IF - Is Tool Entitled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        380
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-entitled",
              "leftValue": "={{ $json.entitled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "c3000005-0000-0000-0000-000000000005",
      "name": "Respond - Tool Not Allowed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        560
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, allowed: false, tool_id: $json.tool_id, reason: $json.reason || 'tool_not_in_plan', upgrade_url: $vars.STRIPE_UPGRADE_URL || 'https://nova-ops.space/upgrade' }) }}",
        "options": {
          "responseCode": 403
        }
      }
    },
    {
      "id": "c3000006-0000-0000-0000-000000000006",
      "name": "HTTP - Deduct Credit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.GLOBAL_APP_URL_STG }}/api/webhooks/credit-deduct",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.user_id, action: 'tool_call', tool_id: $json.tool_id, credits: $json.credit_cost }) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "c3000007-0000-0000-0000-000000000007",
      "name": "Code - Build Dispatch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        240
      ],
      "parameters": {
        "jsCode": "const ctx    = $('Code - Check Tool Entitlement').first().json;\\nconst credit = $input.first().json;  // credit deduction response\\n\\nconst toolId = ctx.tool_id;\\nconst base   = $vars.GLOBAL_APP_URL_STG || 'https://stg.nova-ops.space';\\n\\n// Lookup map: tool_id \u2192 Launchpad webhook URL\\nconst toolMap = {\\n  lead_gen:            `${base}/api/webhooks/tools/lead-gen`,\\n  copywriting:         `${base}/api/webhooks/tools/copywriting`,\\n  offer_building:      `${base}/api/webhooks/tools/offer-building`,\\n  funnel_mapping:      `${base}/api/webhooks/tools/funnel-mapping`,\\n  content_calendar:    `${base}/api/webhooks/tools/content-calendar`,\\n  ad_strategy:         `${base}/api/webhooks/tools/ad-strategy`,\\n  email_sequence:      `${base}/api/webhooks/tools/email-sequence`,\\n  seo_brief:           `${base}/api/webhooks/tools/seo-brief`,\\n  competitor_research: `${base}/api/webhooks/tools/competitor-research`,\\n  social_planning:     `${base}/api/webhooks/tools/social-planning`,\\n  sales_script:        `${base}/api/webhooks/tools/sales-script`,\\n  brand_voice:         `${base}/api/webhooks/tools/brand-voice`,\\n  analytics:           `${base}/api/webhooks/tools/analytics`,\\n  automation_build:    `${base}/api/webhooks/tools/automation-build`,\\n  client_reporting:    `${base}/api/webhooks/tools/client-reporting`,\\n  general_question:    `${base}/api/webhooks/tools/general-question`\\n};\\n\\nconst toolUrl = toolMap[toolId];\\nif (!toolUrl) {\\n  throw new Error(`Unknown tool_id: '${toolId}'. Add it to the dispatch map.`);\\n}\\n\\nreturn [{\\n  json: {\\n    tool_url:    toolUrl,\\n    tool_id:     toolId,\\n    user_id:     ctx.user_id,\\n    params:      ctx.params,\\n    credit_cost: ctx.credit_cost,\\n    credit_ok:   credit.allowed !== false\\n  }\\n}];"
      }
    },
    {
      "id": "c3000008-0000-0000-0000-000000000008",
      "name": "HTTP - Dispatch to Tool",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.tool_url }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.user_id, tool_id: $json.tool_id, params: $json.params }) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "c3000009-0000-0000-0000-000000000009",
      "name": "Respond - Return Tool Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1780,
        240
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, tool_id: $('Code - Build Dispatch').first().json.tool_id, result: $json }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "c3000010-0000-0000-0000-000000000010",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        660
      ]
    },
    {
      "id": "c3000011-0000-0000-0000-000000000011",
      "name": "HTTP - Notify Error Router",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        660
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.GLOBAL_ERROR_WEBHOOK_URL }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow_name: 'STG \u00b7 AI \u00b7 Webhook \u2192 AI Operator Tool Dispatcher \u00b7 DHR', error_message: $json.error.message, error_node: $json.execution.lastNodeExecuted, execution_id: $execution.id, timestamp: new Date().toISOString() }) }}",
        "options": {
          "timeout": 5000
        }
      }
    }
  ],
  "connections": {
    "Webhook - Receive Request": {
      "main": [
        [
          {
            "node": "HTTP - Get Entitlements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Entitlements": {
      "main": [
        [
          {
            "node": "Code - Check Tool Entitlement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Check Tool Entitlement": {
      "main": [
        [
          {
            "node": "IF - Is Tool Entitled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Is Tool Entitled": {
      "main": [
        [
          {
            "node": "HTTP - Deduct Credit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Tool Not Allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Deduct Credit": {
      "main": [
        [
          {
            "node": "Code - Build Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Dispatch": {
      "main": [
        [
          {
            "node": "HTTP - Dispatch to Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Dispatch to Tool": {
      "main": [
        [
          {
            "node": "Respond - Return Tool Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "HTTP - Notify Error Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}