n8n/workflows/04-stg-ai-webhook-to-ai-operator-response-formatter-dhr.json
{
  "name": "STG \u00b7 AI \u00b7 Webhook \u2192 AI Operator Response Formatter \u00b7 DHR",
  "description": "AI | Formats subagent raw_output by type (text/json/list/email/script), writes to Supabase tool_outputs, fires in-app notification, returns formatted result. OWNER: Dhruv | p1:high | ai-powered | ENV: STG",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "AIlhwkZmGYE9ipKl"
  },
  "tags": [
    {
      "name": "env:stg"
    },
    {
      "name": "owner:dhruv"
    },
    {
      "name": "cat:ai"
    },
    {
      "name": "review:pending"
    },
    {
      "name": "p1:high"
    },
    {
      "name": "ai-powered"
    },
    {
      "name": "claude-generated"
    }
  ],
  "meta": {
    "aiBuilderAssisted": true
  },
  "nodes": [
    {
      "id": "d4000001-0000-0000-0000-000000000001",
      "name": "Webhook - Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        380
      ],
      "parameters": {
        "path": "ai-operator-response-formatter",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "novaops-response-formatter-stg"
    },
    {
      "id": "d4000002-0000-0000-0000-000000000002",
      "name": "Code - Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        380
      ],
      "parameters": {
        "jsCode": "const body        = $input.first().json.body;\\nconst user_id     = body.user_id     || '';\\nconst session_id  = body.session_id  || '';\\nconst tool_id     = body.tool_id     || 'general_question';\\nconst raw_output  = body.raw_output  || '';\\nconst output_type = (body.output_type || 'text').toLowerCase().trim();\\n\\n// \u2500\u2500 Format by type \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\nlet formatted_output;\\nlet formatted_for_storage;\\n\\nswitch (output_type) {\\n\\n  case 'list':\\n    // Split on newline (or numbered lines), strip blanks\\n    formatted_output = raw_output\\n      .split('\\\\n')\\n      .map(l => l.replace(/^\\\\s*[\\\\-\\\\*\u2022\\\\d]+[.)\\\\s]+/, '').trim())\\n      .filter(Boolean);\\n    formatted_for_storage = JSON.stringify(formatted_output);\\n    break;\\n\\n  case 'json':\\n    try {\\n      const parsed = JSON.parse(raw_output);\\n      formatted_output      = JSON.stringify(parsed, null, 2);\\n      formatted_for_storage = formatted_output;\\n    } catch (_) {\\n      // Not valid JSON \u2014 store as-is with a warning prefix\\n      formatted_output      = raw_output.trim();\\n      formatted_for_storage = formatted_output;\\n    }\\n    break;\\n\\n  case 'email':\\n    // Preserve line breaks, trim leading/trailing whitespace on each line\\n    formatted_output = raw_output\\n      .split('\\\\n')\\n      .map(l => l.trimEnd())\\n      .join('\\\\n')\\n      .trim();\\n    formatted_for_storage = formatted_output;\\n    break;\\n\\n  case 'script':\\n    // Preserve exact content; just trim outer whitespace\\n    formatted_output      = raw_output.trim();\\n    formatted_for_storage = formatted_output;\\n    break;\\n\\n  case 'text':\\n  default:\\n    formatted_output      = raw_output.trim();\\n    formatted_for_storage = formatted_output;\\n    break;\\n}\\n\\n// \u2500\u2500 Tool name map for notification message \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\nconst toolNames = {\\n  lead_gen:            'Lead Generation',\\n  copywriting:         'Copywriting',\\n  offer_building:      'Offer Builder',\\n  funnel_mapping:      'Funnel Mapper',\\n  content_calendar:    'Content Calendar',\\n  ad_strategy:         'Ad Strategy',\\n  email_sequence:      'Email Sequence',\\n  seo_brief:           'SEO Brief',\\n  competitor_research: 'Competitor Research',\\n  social_planning:     'Social Planning',\\n  sales_script:        'Sales Script',\\n  brand_voice:         'Brand Voice',\\n  analytics:           'Analytics',\\n  automation_build:    'Automation Builder',\\n  client_reporting:    'Client Reporting',\\n  general_question:    'AI Assistant'\\n};\\nconst tool_name = toolNames[tool_id] || tool_id;\\n\\nreturn [{\\n  json: {\\n    user_id,\\n    session_id,\\n    tool_id,\\n    tool_name,\\n    output_type,\\n    raw_output,\\n    formatted_output,\\n    formatted_for_storage,\\n    notification_message: `Your ${tool_name} output is ready.`,\\n    created_at: new Date().toISOString()\\n  }\\n}];"
      }
    },
    {
      "id": "d4000003-0000-0000-0000-000000000003",
      "name": "HTTP - Store Tool Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "https://snnnbzhopsajrhimhgje.supabase.co/rest/v1/tool_outputs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.user_id, session_id: $json.session_id, tool_id: $json.tool_id, output_type: $json.output_type, raw_output: $json.raw_output, formatted_output: $json.formatted_for_storage, created_at: $json.created_at }) }}",
        "options": {
          "timeout": 8000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "PLACEHOLDER_SUPABASE_CRED_ID",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "id": "d4000004-0000-0000-0000-000000000004",
      "name": "HTTP - Insert Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        540
      ],
      "parameters": {
        "method": "POST",
        "url": "https://snnnbzhopsajrhimhgje.supabase.co/rest/v1/notifications",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.user_id, session_id: $json.session_id, tool_id: $json.tool_id, type: 'tool_complete', message: $json.notification_message, read: false, created_at: $json.created_at }) }}",
        "options": {
          "timeout": 8000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "PLACEHOLDER_SUPABASE_CRED_ID",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "id": "d4000005-0000-0000-0000-000000000005",
      "name": "Merge - Await Both Writes",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        940,
        380
      ],
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      }
    },
    {
      "id": "d4000006-0000-0000-0000-000000000006",
      "name": "Respond - Return Formatted Output",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1160,
        380
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, tool_id: $('Code - Format Output').first().json.tool_id, output_type: $('Code - Format Output').first().json.output_type, formatted_output: $('Code - Format Output').first().json.formatted_output, notification: $('Code - Format Output').first().json.notification_message }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "d4000007-0000-0000-0000-000000000007",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        680
      ]
    },
    {
      "id": "d4000008-0000-0000-0000-000000000008",
      "name": "HTTP - Notify Error Router",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        680
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.GLOBAL_ERROR_WEBHOOK_URL }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow_name: 'STG \u00b7 AI \u00b7 Webhook \u2192 AI Operator Response Formatter \u00b7 DHR', error_message: $json.error.message, error_node: $json.execution.lastNodeExecuted, execution_id: $execution.id, timestamp: new Date().toISOString() }) }}",
        "options": {
          "timeout": 5000
        }
      }
    }
  ],
  "connections": {
    "Webhook - Receive Request": {
      "main": [
        [
          {
            "node": "Code - Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Output": {
      "main": [
        [
          {
            "node": "HTTP - Store Tool Output",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP - Insert Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Store Tool Output": {
      "main": [
        [
          {
            "node": "Merge - Await Both Writes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Insert Notification": {
      "main": [
        [
          {
            "node": "Merge - Await Both Writes",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - Await Both Writes": {
      "main": [
        [
          {
            "node": "Respond - Return Formatted Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "HTTP - Notify Error Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}