n8n/workflows/08-stg-ops-webhook-to-operator-escalation-to-human-admin-ans.json
{
  "name": "STG \u00b7 OPS \u00b7 Webhook \u2192 Operator Escalation to Human Admin \u00b7 ANS",
  "description": "OPS | Called when operator fails 3\u00d7 or user requests human. Creates support ticket in Supabase, alerts Slack admin channel, emails user confirmation. Returns {ticket_id, status: escalated}. OWNER: Ansh | p1:high | ENV: STG",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "AIlhwkZmGYE9ipKl"
  },
  "tags": [
    {
      "name": "env:stg"
    },
    {
      "name": "owner:ansh"
    },
    {
      "name": "cat:ops"
    },
    {
      "name": "review:pending"
    },
    {
      "name": "p1:high"
    },
    {
      "name": "claude-generated"
    }
  ],
  "meta": {
    "aiBuilderAssisted": true
  },
  "nodes": [
    {
      "id": "h8000001-0000-0000-0000-000000000001",
      "name": "Webhook - Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        380
      ],
      "parameters": {
        "path": "operator-escalation",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "novaops-operator-escalation-stg"
    },
    {
      "id": "h8000002-0000-0000-0000-000000000002",
      "name": "HTTP - Insert Support Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "https://snnnbzhopsajrhimhgje.supabase.co/rest/v1/support_tickets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.body.user_id, session_id: $json.body.session_id || null, issue_summary: $json.body.issue_summary || 'No summary provided', status: 'open', created_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 8000,
          "response": {
            "response": {
              "neverError": false
            }
          }
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "PLACEHOLDER_SUPABASE_CRED_ID",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "id": "h8000003-0000-0000-0000-000000000003",
      "name": "HTTP - Get User Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        380
      ],
      "parameters": {
        "method": "GET",
        "url": "https://snnnbzhopsajrhimhgje.supabase.co/rest/v1/profiles",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "=eq.{{ $('Webhook - Receive Request').first().json.body.user_id }}"
            },
            {
              "name": "select",
              "value": "user_id,email,full_name"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 8000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "PLACEHOLDER_SUPABASE_CRED_ID",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "id": "h8000004-0000-0000-0000-000000000004",
      "name": "Code - Build Notification Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        380
      ],
      "parameters": {
        "jsCode": "// \u2500\u2500 Extract ticket from INSERT response \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\nconst insertRaw    = $('HTTP - Insert Support Ticket').first().json;\\nconst insertedRow  = Array.isArray(insertRaw) ? insertRaw[0] : insertRaw;\\nconst ticket_id    = insertedRow?.id || 'UNKNOWN';\\nconst ticket_status = insertedRow?.status || 'open';\\n\\n// \u2500\u2500 Extract user profile \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\nconst profileRaw = $input.first().json;   // result of HTTP - Get User Profile\\nconst profiles   = Array.isArray(profileRaw) ? profileRaw : (profileRaw ? [profileRaw] : []);\\nconst profile    = profiles[0] || {};\\n\\n// Try common email column names \u2014 adjust to match your schema\\nconst userEmail = profile.email\\n  || profile.user_email\\n  || profile.contact_email\\n  || `user-${$('Webhook - Receive Request').first().json.body.user_id}@nova-ops.space`;\\n\\nconst userName = profile.full_name\\n  || profile.name\\n  || profile.display_name\\n  || 'Valued Customer';\\n\\n// \u2500\u2500 Original request \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\nconst body         = $('Webhook - Receive Request').first().json.body;\\nconst issueSummary = (body.issue_summary || 'No summary provided').trim();\\nconst sessionId    = body.session_id || 'N/A';\\nconst appUrl       = $vars.GLOBAL_APP_URL_PROD || 'https://nova-ops.space';\\n\\n// \u2500\u2500 Slack block message \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\nconst slackBlocks = [\\n  {\\n    type: 'header',\\n    text: { type: 'plain_text', text: '\ud83d\udea8 Operator Escalation \u2014 Human Review Needed', emoji: true }\\n  },\\n  {\\n    type: 'section',\\n    fields: [\\n      { type: 'mrkdwn', text: `*User:*\\\\n${userEmail}` },\\n      { type: 'mrkdwn', text: `*Ticket ID:*\\\\n${ticket_id}` },\\n      { type: 'mrkdwn', text: `*Session:*\\\\n${sessionId}` },\\n      { type: 'mrkdwn', text: `*Status:*\\\\n${ticket_status}` }\\n    ]\\n  },\\n  {\\n    type: 'section',\\n    text: { type: 'mrkdwn', text: `*Issue Summary:*\\\\n${issueSummary}` }\\n  },\\n  {\\n    type: 'actions',\\n    elements: [{\\n      type: 'button',\\n      text: { type: 'plain_text', text: 'View Ticket', emoji: true },\\n      url: `${appUrl}/admin/tickets/${ticket_id}`,\\n      style: 'primary'\\n    }]\\n  }\\n];\\n\\n// \u2500\u2500 User confirmation email \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\nconst emailSubject = `Your request is being reviewed \u2014 Ticket #${ticket_id}`;\\nconst emailBody    = `Hi ${userName},\\\\n\\\\nThank you for reaching out to Nova OPS.\\\\n\\\\nA member of our team is reviewing your request and will respond within 24 hours.\\\\n\\\\nYour ticket reference: ${ticket_id}\\\\n\\\\nIssue logged:\\\\n\"${issueSummary}\"\\\\n\\\\nIf you have additional information to share, simply reply to this email and include your ticket reference.\\\\n\\\\nNova OPS Support Team\\\\n${appUrl}`;\\n\\nreturn [{\\n  json: {\\n    ticket_id,\\n    ticket_status,\\n    user_id:       body.user_id,\\n    user_email:    userEmail,\\n    user_name:     userName,\\n    issue_summary: issueSummary,\\n    slack_text:    `Escalation needed \u2014 User: ${userEmail} | Issue: ${issueSummary} | Ticket: ${ticket_id}`,\\n    slack_blocks:  slackBlocks,\\n    email_subject: emailSubject,\\n    email_body:    emailBody\\n  }\\n}];"
      }
    },
    {
      "id": "h8000005-0000-0000-0000-000000000005",
      "name": "Slack - Alert Admin Channel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1120,
        220
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $vars.GLOBAL_SLACK_ALERT_CHANNEL || '#nova-ops-alerts' }}",
        "text": "={{ $json.slack_text }}",
        "otherOptions": {
          "blocks": "={{ JSON.stringify($json.slack_blocks) }}"
        }
      },
      "credentials": {
        "slackApi": {
          "id": "PLACEHOLDER_SLACK_CRED_ID",
          "name": "SLACK_PROD_INTERNAL_ALERTS"
        }
      }
    },
    {
      "id": "h8000006-0000-0000-0000-000000000006",
      "name": "Gmail - Email User Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        540
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toList": "={{ $json.user_email }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "text",
        "message": "={{ $json.email_body }}",
        "options": {
          "replyTo": "support@nova-ops.space",
          "senderName": "Nova OPS Support"
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "PLACEHOLDER_GMAIL_CRED_ID",
          "name": "GMAIL_PROD_TRANSACTIONAL"
        }
      }
    },
    {
      "id": "h8000007-0000-0000-0000-000000000007",
      "name": "Merge - Await Both Sent",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1340,
        380
      ],
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      }
    },
    {
      "id": "h8000008-0000-0000-0000-000000000008",
      "name": "Respond - Return Ticket",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1560,
        380
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ticket_id: $('Code - Build Notification Payloads').first().json.ticket_id, status: 'escalated', user_email: $('Code - Build Notification Payloads').first().json.user_email, message: 'A human is reviewing your request and will respond within 24 hours.' }) }}",
        "options": {
          "responseCode": 201
        }
      }
    },
    {
      "id": "h8000009-0000-0000-0000-000000000009",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        660
      ]
    },
    {
      "id": "h8000010-0000-0000-0000-000000000010",
      "name": "HTTP - Notify Error Router",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        660
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.GLOBAL_ERROR_WEBHOOK_URL }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow_name: 'STG \u00b7 OPS \u00b7 Webhook \u2192 Operator Escalation to Human Admin \u00b7 ANS', error_message: $json.error.message, error_node: $json.execution.lastNodeExecuted, execution_id: $execution.id, timestamp: new Date().toISOString() }) }}",
        "options": {
          "timeout": 5000
        }
      }
    }
  ],
  "connections": {
    "Webhook - Receive Request": {
      "main": [
        [
          {
            "node": "HTTP - Insert Support Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Insert Support Ticket": {
      "main": [
        [
          {
            "node": "HTTP - Get User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get User Profile": {
      "main": [
        [
          {
            "node": "Code - Build Notification Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Notification Payloads": {
      "main": [
        [
          {
            "node": "Slack - Alert Admin Channel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Email User Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Alert Admin Channel": {
      "main": [
        [
          {
            "node": "Merge - Await Both Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Email User Confirmation": {
      "main": [
        [
          {
            "node": "Merge - Await Both Sent",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - Await Both Sent": {
      "main": [
        [
          {
            "node": "Respond - Return Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "HTTP - Notify Error Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}