n8n/workflows/09-stg-infra-schedule-to-operator-health-check-self-test-ping-ans.json
{
  "name": "STG \u00b7 INFRA \u00b7 Schedule \u2192 Operator Health Check Self Test Ping \u00b7 ANS",
  "description": "INFRA | Runs every 15 min. Pings 19 operator endpoints (core + 15 subagents), measures response time, marks down if timeout or no response, Slack alerts on failures, bulk-logs all results to Supabase health_checks. OWNER: Ansh | p1:high | ENV: STG",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "AIlhwkZmGYE9ipKl"
  },
  "tags": [
    {
      "name": "env:stg"
    },
    {
      "name": "owner:ansh"
    },
    {
      "name": "cat:infra"
    },
    {
      "name": "review:pending"
    },
    {
      "name": "p1:high"
    },
    {
      "name": "claude-generated"
    }
  ],
  "meta": {
    "aiBuilderAssisted": true
  },
  "nodes": [
    {
      "id": "i9000001-0000-0000-0000-000000000001",
      "name": "Schedule - Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        380
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "i9000002-0000-0000-0000-000000000002",
      "name": "Code - Build Endpoint List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        380
      ],
      "parameters": {
        "jsCode": "// Base URLs \u2014 override with env vars if present\\nconst n8nBase = $vars.N8N_WEBHOOK_BASE_URL  || 'https://launchpad-novaops.app.n8n.cloud/webhook';\\nconst appBase = $vars.GLOBAL_APP_URL_STG    || 'https://stg.nova-ops.space';\\n\\nconst endpoints = [\\n  // \u2500\u2500 Core operator workflows (n8n webhooks) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n  { name: 'AI Operator Main Router',        url: `${n8nBase}/ai-operator-router` },\\n  { name: 'AI Operator Context Loader',     url: `${n8nBase}/ai-operator-context-loader` },\\n  { name: 'AI Operator Tool Dispatcher',    url: `${n8nBase}/ai-operator-tool-dispatcher` },\\n  { name: 'Operator Memory Read',           url: `${n8nBase}/operator-memory-read` },\\n\\n  // \u2500\u2500 Launchpad subagent webhooks (app-side) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n  { name: 'Subagent: Lead Gen',             url: `${appBase}/api/webhooks/tools/lead-gen` },\\n  { name: 'Subagent: Copywriting',          url: `${appBase}/api/webhooks/tools/copywriting` },\\n  { name: 'Subagent: Offer Builder',        url: `${appBase}/api/webhooks/tools/offer-building` },\\n  { name: 'Subagent: Funnel Mapper',        url: `${appBase}/api/webhooks/tools/funnel-mapping` },\\n  { name: 'Subagent: Content Calendar',     url: `${appBase}/api/webhooks/tools/content-calendar` },\\n  { name: 'Subagent: Ad Strategy',          url: `${appBase}/api/webhooks/tools/ad-strategy` },\\n  { name: 'Subagent: Email Sequence',       url: `${appBase}/api/webhooks/tools/email-sequence` },\\n  { name: 'Subagent: SEO Brief',            url: `${appBase}/api/webhooks/tools/seo-brief` },\\n  { name: 'Subagent: Competitor Research',  url: `${appBase}/api/webhooks/tools/competitor-research` },\\n  { name: 'Subagent: Social Planning',      url: `${appBase}/api/webhooks/tools/social-planning` },\\n  { name: 'Subagent: Sales Script',         url: `${appBase}/api/webhooks/tools/sales-script` },\\n  { name: 'Subagent: Brand Voice',          url: `${appBase}/api/webhooks/tools/brand-voice` },\\n  { name: 'Subagent: Analytics',            url: `${appBase}/api/webhooks/tools/analytics` },\\n  { name: 'Subagent: Automation Builder',   url: `${appBase}/api/webhooks/tools/automation-build` },\\n  { name: 'Subagent: Client Reporting',     url: `${appBase}/api/webhooks/tools/client-reporting` },\\n];\\n\\n// Return one item per endpoint for SplitInBatches\\nreturn endpoints.map(e => ({\\n  json: { _endpoint_name: e.name, _url: e.url }\\n}));"
      }
    },
    {
      "id": "i9000003-0000-0000-0000-000000000003",
      "name": "SplitInBatches - Loop Endpoints",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        380
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "i9000004-0000-0000-0000-000000000004",
      "name": "Code - Set Start Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        260
      ],
      "parameters": {
        "jsCode": "// Stamp the precise start time immediately before the HTTP ping.\\n// Must run as close to the HTTP call as possible for accurate timing.\\nconst item = $input.first().json;\\nreturn [{ json: Object.assign({}, item, { _start_time: Date.now() }) }];"
      }
    },
    {
      "id": "i9000005-0000-0000-0000-000000000005",
      "name": "HTTP - Ping Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        260
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json._url }}",
        "authentication": "none",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      }
    },
    {
      "id": "i9000006-0000-0000-0000-000000000006",
      "name": "Code - Record Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        260
      ],
      "parameters": {
        "jsCode": "const response = $input.first().json;\\nconst meta     = $('Code - Set Start Time').first().json;\\n\\nconst endTime        = Date.now();\\nconst responseTimeMs = endTime - (meta._start_time || endTime);\\n\\n// statusCode = 0 means no HTTP response received (timeout / connection refused)\\nconst statusCode = response.statusCode || 0;\\n\\n// DOWN if: no response at all, OR wall-clock time hit the 5s ceiling\\n// Any HTTP status (even 404 / 405) means the server is reachable \u2192 UP\\nconst isDown = statusCode === 0 || responseTimeMs >= 5000;\\n\\nreturn [{\\n  json: {\\n    endpoint_name:    meta._endpoint_name,\\n    url:              meta._url,\\n    status:           isDown ? 'down' : 'up',\\n    status_code:      statusCode,\\n    response_time_ms: Math.min(responseTimeMs, 5001),\\n    is_down:          isDown,\\n    checked_at:       new Date().toISOString()\\n  }\\n}];"
      }
    },
    {
      "id": "i9000007-0000-0000-0000-000000000007",
      "name": "Code - Analyze Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        520
      ],
      "parameters": {
        "jsCode": "// SplitInBatches done output delivers ALL processed items accumulated across iterations.\\nconst allResults = $input.all().map(item => item.json);\\n\\nconst failures   = allResults.filter(r => r.is_down);\\nconst upCount    = allResults.length - failures.length;\\nconst checkedAt  = new Date().toISOString();\\n\\n// \u2500\u2500 Slack message \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\nlet slackText;\\nif (failures.length === 0) {\\n  slackText = `\u2705 *Nova OPS Health Check* \u2014 All ${allResults.length} endpoints UP (${checkedAt})`;\\n} else {\\n  const lines = failures.map(f =>\\n    `\u2022 *${f.endpoint_name}*: HTTP ${f.status_code} \u00b7 ${f.response_time_ms}ms${\\n      f.response_time_ms >= 5000 ? ' \u23f1 TIMEOUT' : ''}`\\n  ).join('\\\\n');\\n  slackText =\\n    `\ud83d\udd34 *Nova OPS Health Alert \u2014 ${failures.length}/${allResults.length} endpoint(s) DOWN*\\\\n\\\\n` +\\n    lines +\\n    `\\\\n\\\\n_Checked at: ${checkedAt}_`;\\n}\\n\\n// \u2500\u2500 Supabase bulk payload \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\nconst dbRows = allResults.map(r => ({\\n  endpoint_name:    r.endpoint_name,\\n  status:           r.status,\\n  status_code:      r.status_code,\\n  response_time_ms: r.response_time_ms,\\n  checked_at:       r.checked_at\\n}));\\n\\nreturn [{\\n  json: {\\n    results:     allResults,\\n    db_rows:     dbRows,\\n    failures,\\n    has_failures: failures.length > 0,\\n    slack_text:   slackText,\\n    total:        allResults.length,\\n    up_count:     upCount,\\n    down_count:   failures.length,\\n    checked_at:   checkedAt\\n  }\\n}];"
      }
    },
    {
      "id": "i9000008-0000-0000-0000-000000000008",
      "name": "IF - Any Failures",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        520
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-failures",
              "leftValue": "={{ $json.has_failures }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "i9000009-0000-0000-0000-000000000009",
      "name": "Slack - Alert Admin Channel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1340,
        420
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $vars.GLOBAL_SLACK_ALERT_CHANNEL || '#nova-ops-alerts' }}",
        "text": "={{ $json.slack_text }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "PLACEHOLDER_SLACK_CRED_ID",
          "name": "SLACK_PROD_INTERNAL_ALERTS"
        }
      }
    },
    {
      "id": "i9000010-0000-0000-0000-000000000010",
      "name": "Merge - Converge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1540,
        520
      ],
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      }
    },
    {
      "id": "i9000011-0000-0000-0000-000000000011",
      "name": "HTTP - Bulk Log to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        520
      ],
      "parameters": {
        "method": "POST",
        "url": "https://snnnbzhopsajrhimhgje.supabase.co/rest/v1/health_checks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Code - Analyze Results').first().json.db_rows) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "PLACEHOLDER_SUPABASE_CRED_ID",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "id": "i9000012-0000-0000-0000-000000000012",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        680
      ]
    },
    {
      "id": "i9000013-0000-0000-0000-000000000013",
      "name": "HTTP - Notify Error Router",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        680
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.GLOBAL_ERROR_WEBHOOK_URL }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow_name: 'STG \u00b7 INFRA \u00b7 Schedule \u2192 Operator Health Check Self Test Ping \u00b7 ANS', error_message: $json.error.message, error_node: $json.execution.lastNodeExecuted, execution_id: $execution.id, timestamp: new Date().toISOString() }) }}",
        "options": {
          "timeout": 5000
        }
      }
    }
  ],
  "connections": {
    "Schedule - Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Code - Build Endpoint List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Endpoint List": {
      "main": [
        [
          {
            "node": "SplitInBatches - Loop Endpoints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches - Loop Endpoints": {
      "main": [
        [
          {
            "node": "Code - Set Start Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Analyze Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Set Start Time": {
      "main": [
        [
          {
            "node": "HTTP - Ping Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Ping Endpoint": {
      "main": [
        [
          {
            "node": "Code - Record Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Record Result": {
      "main": [
        [
          {
            "node": "SplitInBatches - Loop Endpoints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Analyze Results": {
      "main": [
        [
          {
            "node": "IF - Any Failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Any Failures": {
      "main": [
        [
          {
            "node": "Slack - Alert Admin Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge - Converge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Slack - Alert Admin Channel": {
      "main": [
        [
          {
            "node": "Merge - Converge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - Converge Paths": {
      "main": [
        [
          {
            "node": "HTTP - Bulk Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "HTTP - Notify Error Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}