n8n/workflows/10-stg-infra-webhook-to-operator-version-update-prompt-swap-ans.json
{
  "name": "STG \u00b7 INFRA \u00b7 Webhook \u2192 Operator Version Update Prompt Swap \u00b7 ANS",
  "description": "INFRA | Admin-only. Validates token, upserts system prompt to operator_prompts table by component name. All Claude workflows fetch prompts from this table at runtime for hot-swap without redeployment. OWNER: Ansh | p1:high | ENV: STG",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "AIlhwkZmGYE9ipKl"
  },
  "tags": [
    {
      "name": "env:stg"
    },
    {
      "name": "owner:ansh"
    },
    {
      "name": "cat:infra"
    },
    {
      "name": "review:pending"
    },
    {
      "name": "p1:high"
    },
    {
      "name": "no-direct-edit"
    },
    {
      "name": "claude-generated"
    }
  ],
  "meta": {
    "aiBuilderAssisted": true
  },
  "nodes": [
    {
      "id": "j0000001-0000-0000-0000-000000000001",
      "name": "Webhook - Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        380
      ],
      "parameters": {
        "path": "operator-prompt-swap",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "novaops-prompt-swap-stg"
    },
    {
      "id": "j0000002-0000-0000-0000-000000000002",
      "name": "Code - Validate and Sanitize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        380
      ],
      "parameters": {
        "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\\n// RUNTIME PROMPT FETCH PATTERN \u2014 read this before building Claude workflows\\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\\n//\\n// Every workflow that calls Claude MUST fetch its system prompt from\\n// the operator_prompts table at runtime instead of hardcoding it.\\n// This workflow (Prompt Swap) writes to that table. Claude workflows\\n// just read from it \u2014 no redeployment needed to change behaviour.\\n//\\n// \u2500\u2500 Fetch pattern (add these nodes before your Claude API call) \u2500\u2500\\n//\\n//   Node A \u2014 HTTP Request (GET, supabaseApi credential):\\n//     URL: https://ipidfqwlszuhjgjygbvx.supabase.co/rest/v1/operator_prompts\\n//     Query params:\\n//       component = eq.{your_component_name}   e.g. eq.main_router\\n//       select    = system_prompt,version\\n//       limit     = 1\\n//\\n//   Node B \u2014 Set / Code node (build Claude body):\\n//     const promptRow = $('Node A').first().json;\\n//     const rows = Array.isArray(promptRow) ? promptRow : [promptRow];\\n//     const systemPrompt = rows[0]?.system_prompt || DEFAULT_SYSTEM_PROMPT;\\n//     // then pass systemPrompt into the Claude messages API body\\n//\\n// \u2500\u2500 Component name registry \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n//   Core workflows:   main_router \u00b7 context_loader \u00b7 tool_dispatcher\\n//                     memory_read \u00b7 response_formatter \u00b7 confidence_fallback\\n//   Subagents:        lead_gen \u00b7 copywriting \u00b7 offer_building \u00b7 funnel_mapping\\n//                     content_calendar \u00b7 ad_strategy \u00b7 email_sequence \u00b7 seo_brief\\n//                     competitor_research \u00b7 social_planning \u00b7 sales_script\\n//                     brand_voice \u00b7 analytics \u00b7 automation_build\\n//                     client_reporting \u00b7 general_question\\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\\n\\nconst body           = $input.first().json.body;\\nconst adminToken     = (body.admin_token      || '').trim();\\nconst component      = (body.component        || '').trim();\\nconst newPrompt      = (body.new_system_prompt || '').trim();\\nconst versionLabel   = (body.version_label    || '').trim();\\n\\n// \u2500\u2500 Token validation \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n// Constant-time string comparison to prevent timing-based enumeration.\\nconst expectedToken  = $vars.NOVA_OPS_ADMIN_TOKEN || '';\\nconst tokenValid     =\\n  adminToken.length > 0 &&\\n  expectedToken.length > 0 &&\\n  adminToken.length === expectedToken.length &&\\n  adminToken === expectedToken;\\n\\n// \u2500\u2500 Field validation \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\nlet reason = null;\\nif      (!tokenValid)    reason = 'invalid_admin_token';\\nelse if (!component)     reason = 'missing_component';\\nelse if (!newPrompt)     reason = 'missing_new_system_prompt';\\nelse if (!versionLabel)  reason = 'missing_version_label';\\n\\nconst isValid = reason === null;\\n\\n// \u2500\u2500 Known-component check (soft warning, not a blocker) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\nconst KNOWN_COMPONENTS = [\\n  'main_router','context_loader','tool_dispatcher','memory_read',\\n  'response_formatter','confidence_fallback',\\n  'lead_gen','copywriting','offer_building','funnel_mapping',\\n  'content_calendar','ad_strategy','email_sequence','seo_brief',\\n  'competitor_research','social_planning','sales_script','brand_voice',\\n  'analytics','automation_build','client_reporting','general_question'\\n];\\n\\nreturn [{\\n  json: {\\n    is_valid:            isValid,\\n    reason,\\n    component,\\n    new_system_prompt:   newPrompt,\\n    version_label:       versionLabel,\\n    is_known_component:  KNOWN_COMPONENTS.includes(component),\\n    updated_at:          new Date().toISOString()\\n  }\\n}];"
      }
    },
    {
      "id": "j0000003-0000-0000-0000-000000000003",
      "name": "IF - Is Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        380
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-valid",
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "j0000004-0000-0000-0000-000000000004",
      "name": "Respond - Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        540
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Unauthorized', reason: $json.reason }) }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "j0000005-0000-0000-0000-000000000005",
      "name": "HTTP - Upsert Prompt to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ipidfqwlszuhjgjygbvx.supabase.co/rest/v1/operator_prompts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ component: $json.component, system_prompt: $json.new_system_prompt, version: $json.version_label, is_known_component: $json.is_known_component, updated_at: $json.updated_at }) }}",
        "options": {
          "timeout": 8000,
          "response": {
            "response": {
              "neverError": false
            }
          }
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "PLACEHOLDER_SUPABASE_CRED_ID",
          "name": "SUPABASE_PROD_SERVICE_ROLE"
        }
      }
    },
    {
      "id": "j0000006-0000-0000-0000-000000000006",
      "name": "Respond - Return Updated",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        240
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ updated: true, component: $('Code - Validate and Sanitize').first().json.component, version_label: $('Code - Validate and Sanitize').first().json.version_label, is_known_component: $('Code - Validate and Sanitize').first().json.is_known_component, updated_at: $('Code - Validate and Sanitize').first().json.updated_at }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "j0000007-0000-0000-0000-000000000007",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        660
      ]
    },
    {
      "id": "j0000008-0000-0000-0000-000000000008",
      "name": "HTTP - Notify Error Router",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        660
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.GLOBAL_ERROR_WEBHOOK_URL }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow_name: 'STG \u00b7 INFRA \u00b7 Webhook \u2192 Operator Version Update Prompt Swap \u00b7 ANS', error_message: $json.error.message, error_node: $json.execution.lastNodeExecuted, execution_id: $execution.id, timestamp: new Date().toISOString() }) }}",
        "options": {
          "timeout": 5000
        }
      }
    }
  ],
  "connections": {
    "Webhook - Receive Request": {
      "main": [
        [
          {
            "node": "Code - Validate and Sanitize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate and Sanitize": {
      "main": [
        [
          {
            "node": "IF - Is Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Is Valid": {
      "main": [
        [
          {
            "node": "HTTP - Upsert Prompt to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Upsert Prompt to Supabase": {
      "main": [
        [
          {
            "node": "Respond - Return Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "HTTP - Notify Error Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}