n8n/workflows/12-intake-agent.json
{
  "name": "Intake Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ia000001-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "intake-agent-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body ?? $input.item.json;\nconst userId = body.user_id;\nconst sessionId = body.session_id;\nconst rawInput = body.raw_input;\n\nif (!userId) throw new Error('user_id is required');\nif (!rawInput || rawInput.trim().length < 20) {\n  throw new Error('raw_input must be at least 20 characters');\n}\n\nreturn [{ json: { user_id: userId, session_id: sessionId, raw_input: rawInput.trim() } }];"
      },
      "id": "ia000001-0002-4000-8000-000000000002",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  a.company_name, a.niche, a.business_model, a.gtm_summary,\n  a.profile_complete, a.strategy_complete,\n  c.brand_voice, c.icp, c.tone, c.value_props\nFROM ai_operator_configs a\nLEFT JOIN user_ai_config c ON c.user_id = a.user_id\nWHERE a.user_id = '{{ $json.user_id }}'",
        "options": {}
      },
      "id": "ia000001-0003-4000-8000-000000000003",
      "name": "Load Existing Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 300],
      "credentials": {
        "postgres": { "id": "SUPABASE_POSTGRES_CRED_ID", "name": "Supabase Postgres" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT system_prompt FROM operator_prompts WHERE component = 'intake_agent' LIMIT 1",
        "options": {}
      },
      "id": "ia000001-0004-4000-8000-000000000004",
      "name": "Fetch System Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [960, 300],
      "credentials": {
        "postgres": { "id": "SUPABASE_POSTGRES_CRED_ID", "name": "Supabase Postgres" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "={{ $env.GLOBAL_AI_MODEL_DEFAULT ?? 'claude-sonnet-4-6' }}",
          "max_tokens": 2000,
          "system": "={{ $('Fetch System Prompt').item.json.system_prompt }}",
          "messages": [
            {
              "role": "user",
              "content": "=Extract a structured founder profile from the following input.\n\nRAW INPUT:\n{{ $('Validate Input').item.json.raw_input }}\n\nEXISTING PROFILE (partial — update only fields where new input provides better data):\n{{ JSON.stringify($('Load Existing Profile').item.json ?? {}) }}\n\nReturn the complete profile JSON object."
            }
          ]
        },
        "options": {}
      },
      "id": "ia000001-0005-4000-8000-000000000005",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "ANTHROPIC_HEADER_AUTH_CRED_ID", "name": "Anthropic API Key" }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst userId = $('Validate Input').item.json.user_id;\n\nlet text = '';\nif (raw.content && Array.isArray(raw.content)) {\n  text = raw.content.filter(b => b.type === 'text').map(b => b.text).join('');\n} else {\n  throw new Error('Unexpected Claude response: ' + JSON.stringify(raw).substring(0, 200));\n}\n\nconst cleaned = text.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nlet profile;\ntry {\n  profile = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Failed to parse Claude profile JSON: ' + e.message + '\\nSnippet: ' + cleaned.substring(0, 300));\n}\n\nconst required = ['company_name', 'niche', 'icp_summary', 'core_offer', 'tone', 'profile_complete'];\nfor (const k of required) {\n  if (!(k in profile)) throw new Error('Missing required key: ' + k);\n}\n\nreturn [{ json: { user_id: userId, profile } }];"
      },
      "id": "ia000001-0006-4000-8000-000000000006",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_operator_configs (\n  user_id, company_name, niche, business_model, gtm_summary, profile_complete\n) VALUES (\n  '{{ $json.user_id }}',\n  {{ $json.profile.company_name ? `'${$json.profile.company_name}'` : 'NULL' }},\n  {{ $json.profile.niche ? `'${$json.profile.niche}'` : 'NULL' }},\n  {{ $json.profile.business_model ? `'${$json.profile.business_model}'` : 'NULL' }},\n  NULL,\n  {{ $json.profile.profile_complete }}\n)\nON CONFLICT (user_id) DO UPDATE SET\n  company_name = COALESCE(EXCLUDED.company_name, ai_operator_configs.company_name),\n  niche = COALESCE(EXCLUDED.niche, ai_operator_configs.niche),\n  business_model = COALESCE(EXCLUDED.business_model, ai_operator_configs.business_model),\n  profile_complete = EXCLUDED.profile_complete,\n  updated_at = NOW()\nRETURNING user_id, profile_complete",
        "options": {}
      },
      "id": "ia000001-0007-4000-8000-000000000007",
      "name": "Upsert Operator Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1680, 300],
      "credentials": {
        "postgres": { "id": "SUPABASE_POSTGRES_CRED_ID", "name": "Supabase Postgres" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_ai_config (\n  user_id, company_name, niche, tone, icp, value_props\n) VALUES (\n  '{{ $('Parse Claude Response').item.json.user_id }}',\n  {{ $('Parse Claude Response').item.json.profile.company_name ? `'${$('Parse Claude Response').item.json.profile.company_name}'` : 'NULL' }},\n  {{ $('Parse Claude Response').item.json.profile.niche ? `'${$('Parse Claude Response').item.json.profile.niche}'` : 'NULL' }},\n  {{ $('Parse Claude Response').item.json.profile.tone ? `'${$('Parse Claude Response').item.json.profile.tone}'` : 'NULL' }},\n  '{{ JSON.stringify($('Parse Claude Response').item.json.profile.icp_summary ?? '') }}'::jsonb,\n  '{{ JSON.stringify($('Parse Claude Response').item.json.profile.value_props ?? []) }}'::jsonb\n)\nON CONFLICT (user_id) DO UPDATE SET\n  company_name = COALESCE(EXCLUDED.company_name, user_ai_config.company_name),\n  niche = COALESCE(EXCLUDED.niche, user_ai_config.niche),\n  tone = COALESCE(EXCLUDED.tone, user_ai_config.tone),\n  icp = COALESCE(EXCLUDED.icp, user_ai_config.icp),\n  value_props = COALESCE(EXCLUDED.value_props, user_ai_config.value_props),\n  updated_at = NOW()",
        "options": {}
      },
      "id": "ia000001-0008-4000-8000-000000000008",
      "name": "Upsert AI Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1920, 300],
      "credentials": {
        "postgres": { "id": "SUPABASE_POSTGRES_CRED_ID", "name": "Supabase Postgres" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"user_id\": \"{{ $('Parse Claude Response').item.json.user_id }}\",\n  \"profile\": {{ JSON.stringify($('Parse Claude Response').item.json.profile) }},\n  \"profile_complete\": {{ $('Parse Claude Response').item.json.profile.profile_complete }},\n  \"fields_missing\": {{ JSON.stringify($('Parse Claude Response').item.json.profile.fields_missing ?? []) }}\n}",
        "options": { "responseCode": 200 }
      },
      "id": "ia000001-0009-4000-8000-000000000009",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2160, 300]
    },
    {
      "parameters": { "errorWorkflow": "" },
      "id": "ia000001-0099-4000-8000-000000000099",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 540]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_error_log (workflow_name, error_message, error_node, execution_id)\nVALUES ('Intake Agent', '{{ $json.message }}', '{{ $json.node?.name ?? \"unknown\" }}', '{{ $json.execution?.id ?? \"\" }}')",
        "options": {}
      },
      "id": "ia000001-0100-4000-8000-000000000100",
      "name": "Log Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 540],
      "credentials": {
        "postgres": { "id": "SUPABASE_POSTGRES_CRED_ID", "name": "Supabase Postgres" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"{{ $('Error Trigger').item.json.message }}\", \"stage\": \"intake_agent_error\" }",
        "options": { "responseCode": 500 }
      },
      "id": "ia000001-0101-4000-8000-000000000101",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 540]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]] },
    "Validate Input": {
      "main": [[{ "node": "Load Existing Profile", "type": "main", "index": 0 }]]
    },
    "Load Existing Profile": {
      "main": [[{ "node": "Fetch System Prompt", "type": "main", "index": 0 }]]
    },
    "Fetch System Prompt": { "main": [[{ "node": "Call Claude", "type": "main", "index": 0 }]] },
    "Call Claude": { "main": [[{ "node": "Parse Claude Response", "type": "main", "index": 0 }]] },
    "Parse Claude Response": {
      "main": [[{ "node": "Upsert Operator Config", "type": "main", "index": 0 }]]
    },
    "Upsert Operator Config": {
      "main": [[{ "node": "Upsert AI Config", "type": "main", "index": 0 }]]
    },
    "Upsert AI Config": { "main": [[{ "node": "Return Response", "type": "main", "index": 0 }]] },
    "Error Trigger": { "main": [[{ "node": "Log Error", "type": "main", "index": 0 }]] },
    "Log Error": { "main": [[{ "node": "Error Response", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "nova-ops" }, { "name": "intake-agent" }],
  "triggerCount": 1,
  "updatedAt": "2026-05-14T00:00:00.000Z",
  "id": "nova-ops-intake-agent-v1"
}
