n8n/workflows/13-strategy-agent.json
{
  "name": "Strategy Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "strategy",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "sa000001-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "strategy-agent-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body ?? $input.item.json;\nconst userId = body.user_id;\nconst sessionId = body.session_id;\nconst focusAreas = body.focus_areas ?? [];\nconst reservationId = body.reservation_id;\n\nif (!userId) throw new Error('user_id is required');\n\nreturn [{ json: { user_id: userId, session_id: sessionId, focus_areas: focusAreas, reservation_id: reservationId } }];"
      },
      "id": "sa000001-0002-4000-8000-000000000002",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  a.user_id, a.company_name, a.niche, a.business_model, a.gtm_summary,\n  c.brand_voice, c.icp, c.tone, c.value_props, c.company_name AS config_company\nFROM ai_operator_configs a\nLEFT JOIN user_ai_config c ON c.user_id = a.user_id\nWHERE a.user_id = '{{ $json.user_id }}'",
        "options": {}
      },
      "id": "sa000001-0003-4000-8000-000000000003",
      "name": "Load Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 300],
      "credentials": {
        "postgres": { "id": "SUPABASE_POSTGRES_CRED_ID", "name": "Supabase Postgres" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT system_prompt FROM operator_prompts WHERE component = 'strategy_agent' LIMIT 1",
        "options": {}
      },
      "id": "sa000001-0004-4000-8000-000000000004",
      "name": "Fetch System Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [960, 300],
      "credentials": {
        "postgres": { "id": "SUPABASE_POSTGRES_CRED_ID", "name": "Supabase Postgres" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "={{ $env.GLOBAL_AI_MODEL_DEFAULT ?? 'claude-sonnet-4-6' }}",
          "max_tokens": 4000,
          "system": "={{ $('Fetch System Prompt').item.json.system_prompt }}",
          "messages": [
            {
              "role": "user",
              "content": "=Build a GTM strategy for this founder.\n\nPROFILE:\n{{ JSON.stringify($('Load Profile').item.json ?? {}) }}\n\nFOCUS AREAS (if empty, cover everything):\n{{ JSON.stringify($('Validate Input').item.json.focus_areas) }}\n\nReturn the complete strategy JSON object."
            }
          ]
        },
        "options": {}
      },
      "id": "sa000001-0005-4000-8000-000000000005",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "ANTHROPIC_HEADER_AUTH_CRED_ID", "name": "Anthropic API Key" }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst userId = $('Validate Input').item.json.user_id;\n\nlet text = '';\nif (raw.content && Array.isArray(raw.content)) {\n  text = raw.content.filter(b => b.type === 'text').map(b => b.text).join('');\n} else {\n  throw new Error('Unexpected Claude response: ' + JSON.stringify(raw).substring(0, 200));\n}\n\nconst cleaned = text.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nlet strategy;\ntry {\n  strategy = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Failed to parse strategy JSON: ' + e.message);\n}\n\nconst required = ['gtm_summary', 'icp', 'offer', 'strategy_score', 'first_90_days'];\nfor (const k of required) {\n  if (!(k in strategy)) throw new Error('Missing required key: ' + k);\n}\n\nreturn [{ json: { user_id: userId, strategy } }];"
      },
      "id": "sa000001-0006-4000-8000-000000000006",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ai_operator_configs\nSET\n  gtm_summary = '{{ $json.strategy.gtm_summary?.replace(/'/g, \"''\") }}',\n  strategy_complete = TRUE,\n  updated_at = NOW()\nWHERE user_id = '{{ $json.user_id }}'",
        "options": {}
      },
      "id": "sa000001-0007-4000-8000-000000000007",
      "name": "Write GTM Summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1680, 300],
      "credentials": {
        "postgres": { "id": "SUPABASE_POSTGRES_CRED_ID", "name": "Supabase Postgres" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tool_outputs (user_id, session_id, tool_id, raw_output, formatted_output)\nVALUES (\n  '{{ $('Parse Claude Response').item.json.user_id }}',\n  {{ $('Validate Input').item.json.session_id ? `'${$('Validate Input').item.json.session_id}'` : 'NULL' }},\n  'strategy_agent',\n  '{{ JSON.stringify($('Parse Claude Response').item.json.strategy).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ ($('Parse Claude Response').item.json.strategy.gtm_summary ?? '').replace(/'/g, \"''\") }}'\n)",
        "options": {}
      },
      "id": "sa000001-0008-4000-8000-000000000008",
      "name": "Write Tool Output",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1920, 300],
      "credentials": {
        "postgres": { "id": "SUPABASE_POSTGRES_CRED_ID", "name": "Supabase Postgres" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"user_id\": \"{{ $('Parse Claude Response').item.json.user_id }}\",\n  \"strategy\": {{ JSON.stringify($('Parse Claude Response').item.json.strategy) }},\n  \"strategy_score\": {{ $('Parse Claude Response').item.json.strategy.strategy_score }},\n  \"strategy_complete\": true\n}",
        "options": { "responseCode": 200 }
      },
      "id": "sa000001-0009-4000-8000-000000000009",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2160, 300]
    },
    {
      "parameters": { "errorWorkflow": "" },
      "id": "sa000001-0099-4000-8000-000000000099",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 540]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_error_log (workflow_name, error_message, error_node, execution_id)\nVALUES ('Strategy Agent', '{{ $json.message }}', '{{ $json.node?.name ?? \"unknown\" }}', '{{ $json.execution?.id ?? \"\" }}')",
        "options": {}
      },
      "id": "sa000001-0100-4000-8000-000000000100",
      "name": "Log Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 540],
      "credentials": {
        "postgres": { "id": "SUPABASE_POSTGRES_CRED_ID", "name": "Supabase Postgres" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"{{ $('Error Trigger').item.json.message }}\", \"stage\": \"strategy_agent_error\" }",
        "options": { "responseCode": 500 }
      },
      "id": "sa000001-0101-4000-8000-000000000101",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 540]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]] },
    "Validate Input": { "main": [[{ "node": "Load Profile", "type": "main", "index": 0 }]] },
    "Load Profile": { "main": [[{ "node": "Fetch System Prompt", "type": "main", "index": 0 }]] },
    "Fetch System Prompt": { "main": [[{ "node": "Call Claude", "type": "main", "index": 0 }]] },
    "Call Claude": { "main": [[{ "node": "Parse Claude Response", "type": "main", "index": 0 }]] },
    "Parse Claude Response": {
      "main": [[{ "node": "Write GTM Summary", "type": "main", "index": 0 }]]
    },
    "Write GTM Summary": {
      "main": [[{ "node": "Write Tool Output", "type": "main", "index": 0 }]]
    },
    "Write Tool Output": { "main": [[{ "node": "Return Response", "type": "main", "index": 0 }]] },
    "Error Trigger": { "main": [[{ "node": "Log Error", "type": "main", "index": 0 }]] },
    "Log Error": { "main": [[{ "node": "Error Response", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "nova-ops" }, { "name": "strategy-agent" }],
  "triggerCount": 1,
  "updatedAt": "2026-05-14T00:00:00.000Z",
  "id": "nova-ops-strategy-agent-v1"
}
